---
import BaseLayout from "@/layouts/BaseLayout.astro";
import JyutpingPage from "@/components/JyutpingPage.tsx";
import TableOfContents from "@/components/TableOfContents";
import { getTOCHeadings } from "@/i18n/pages/jyutping";
import { I18n } from "@/i18n/utils";
import { getTitle } from "@/i18n/pageHeadings";

export function getStaticPaths() {
  return I18n.locales
    .filter((locale) => locale !== I18n.defaultLocale)
    .map((locale) => ({
      params: { locale },
    }));
}

const { locale } = Astro.params;

const title = getTitle("jyutping", locale);
const headings = getTOCHeadings(locale);
---

<BaseLayout lang={locale} title={title}>
  <div class="bg-[#1678d3] text-white px-4 py-6 mb-8">
    <h1
      class="font-jyutping my-4 text-5xl md:text-6xl leading-relaxed text-center container max-w-8xl mx-auto"
    >
      粵拼：香港語言學學會粵語拼音方案
    </h1>
    <h1
      class="chiron-font my-8 text-3xl md:text-4xl text-center container max-w-8xl mx-auto"
    >
      Jyutping: The Linguistic Society of Hong Kong <br /> Cantonese Romanization
      Scheme
    </h1>
  </div>
  <div class="flex justify-center gap-8 max-w-5xl mx-auto">
    <JyutpingPage locale={locale} client:visible />
    <aside class="hidden lg:block w-32 flex-shrink-0">
      <div class="sticky top-32">
        <TableOfContents client:visible headings={headings} />
      </div>
    </aside>
  </div>
</BaseLayout>
