+++
title = "Việt bính"
linkTitle = "Việt bính"
+++

{{< blocks/cover title="Việt bính" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">Một phương pháp sử dụng chữ Latinh<br />để phiên âm tiếng Quảng Đông.</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-bullhorn" title="Việt bính giúp bạn phát âm" %}}
<p>Việt bính có thể giúp bạn sửa cách phát âm tiếng Quảng Đông của mình.</p>
<p>Việt bính trong tiếng Quảng Đông giống như Pinyin trong tiếng Phổ Thông.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="Tại sao học Việt bính?" %}}
<p>Các chữ Hán không phải là chữ tượng thanh, chúng ta cần Việt bính để đại diện cho các âm của tiếng Quảng Đông.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="Việt bính giúp bạn gõ" %}}
<p>Biết Việt bính, bạn có thể gõ tiếng Quảng Đông thuận tiện với bàn phím Việt bính, cách gõ tiếng Quảng Đông tự nhiên và dễ dàng nhất.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa" title="" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="Tôi đang học tiếng Quảng Đông và nói tiếng Việt." %}}
<div class="mx-auto">
	<br />
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs/vietnamese" >}}">
		Bắt đầu học Việt bính <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-language" title="識粵語？"%}}
<div class="mx-auto">
	<a href="/">
		切換到本站粵語版 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}