<docaudio>
    <audio id="aau3" src="/audio/aau3.mp3" />
    <audio id="bak1" src="/audio/bak1.mp3" />
    <audio id="bin1" src="/audio/bin1.mp3" />
    <audio id="bok3" src="/audio/bok3.mp3" />
    <audio id="ceoi1" src="/audio/ceoi1.mp3" />
    <audio id="ceoi4" src="/audio/ceoi4.mp3" />
    <audio id="ceot1" src="/audio/ceot1.mp3" />
    <audio id="ci3" src="/audio/ci3.mp3" />
    <audio id="daai6" src="/audio/daai6.mp3" />
    <audio id="dak1" src="/audio/dak1.mp3" />
    <audio id="dei6" src="/audio/dei6.mp3" />
    <audio id="di1" src="/audio/di1.mp3" />
    <audio id="dim2" src="/audio/dim2.mp3" />
    <audio id="dou2" src="/audio/dou2.mp3" />
    <audio id="dou3" src="/audio/dou3.mp3" />
    <audio id="dou6" src="/audio/dou6.mp3" />
    <audio id="fong3" src="/audio/fong3.mp3" />
    <audio id="fu4" src="/audio/fu4.mp3" />
    <audio id="fung1" src="/audio/fung1.mp3" />
    <audio id="gam2" src="/audio/gam2.mp3" />
    <audio id="gan1" src="/audio/gan1.mp3" />
    <audio id="gan2" src="/audio/gan2.mp3" />
    <audio id="gin6" src="/audio/gin6.mp3" />
    <audio id="go2" src="/audio/go2.mp3" />
    <audio id="go3" src="/audio/go3.mp3" />
    <audio id="gwo3" src="/audio/gwo3.mp3" />
    <audio id="haang4" src="/audio/haang4.mp3" />
    <audio id="hai2" src="/audio/hai2.mp3" />
    <audio id="hai6" src="/audio/hai6.mp3" />
    <audio id="hak1" src="/audio/hak1.mp3" />
    <audio id="hau6" src="/audio/hau6.mp3" />
    <audio id="hei3" src="/audio/hei3.mp3" />
    <audio id="ho2" src="/audio/ho2.mp3" />
    <audio id="jan4" src="/audio/jan4.mp3" />
    <audio id="jat1" src="/audio/jat1.mp3" />
    <audio id="jau5" src="/audio/jau5.mp3" />
    <audio id="ji5" src="/audio/ji5.mp3" />
    <audio id="jing6" src="/audio/jing6.mp3" />
    <audio id="joeng4" src="/audio/joeng4.mp3" />
    <audio id="jyu1" src="/audio/jyu1.mp3" />
    <audio id="jyut6" src="/audio/jyut6.mp3" />
    <audio id="keoi5" src="/audio/keoi5.mp3" />
    <audio id="laa1" src="/audio/laa1.mp3" />
    <audio id="laa2" src="/audio/laa2.mp3" />
    <audio id="laak3" src="/audio/laak3.mp3" />
    <audio id="lai4" src="/audio/lai4.mp3" />
    <audio id="lau1" src="/audio/lau1.mp3" />
    <audio id="lei6" src="/audio/lei6.mp3" />
    <audio id="lek1" src="/audio/lek1.mp3" />
    <audio id="li1" src="/audio/li1.mp3" />
    <audio id="meng6" src="/audio/meng6.mp3" />
    <audio id="mou5" src="/audio/mou5.mp3" />
    <audio id="ne1" src="/audio/ne1.mp3" />
    <audio id="ngaam1" src="/audio/ngaam1.mp3" />
    <audio id="saai3" src="/audio/saai3.mp3" />
    <audio id="sai1" src="/audio/sai1.mp3" />
    <audio id="saai3" src="/audio/saai3.mp3" />
    <audio id="sat6" src="/audio/sat6.mp3" />
    <audio id="si6" src="/audio/si6.mp3" />
    <audio id="syu1" src="/audio/syu1.mp3" />
    <audio id="syun3" src="/audio/syun3.mp3" />
    <audio id="taai3" src="/audio/taai3.mp3" />
    <audio id="tai2" src="/audio/tai2.mp3" />
    <audio id="tung4" src="/audio/tung4.mp3" />
    <audio id="waa6" src="/audio/waa6.mp3" />
    <audio id="wai4" src="/audio/wai4.mp3" />
    <audio id="zan6" src="/audio/zan6.mp3" />
    <audio id="zau6" src="/audio/zau6.mp3" />
    <audio id="zeoi3" src="/audio/zeoi3.mp3" />
    <audio id="zi1" src="/audio/zi1.mp3" />
    <audio id="zik1" src="/audio/zik1.mp3" />
    <audio id="zing2" src="/audio/zing2.mp3" />
    <audio id="zo2" src="/audio/zo2.mp3" />
    <audio id="zoek3" src="/audio/zoek3.mp3" />
    <audio id="zyu6" src="/audio/zyu6.mp3" />
</docaudio>