<docaudio>
    <audio id="aau3" preload="none" src="/audio/aau3.mp3" />
    <audio id="bak1" preload="none" src="/audio/bak1.mp3" />
    <audio id="bin1" preload="none" src="/audio/bin1.mp3" />
    <audio id="bok3" preload="none" src="/audio/bok3.mp3" />
    <audio id="ceoi1" preload="none" src="/audio/ceoi1.mp3" />
    <audio id="ceoi4" preload="none" src="/audio/ceoi4.mp3" />
    <audio id="ceot1" preload="none" src="/audio/ceot1.mp3" />
    <audio id="ci3" preload="none" src="/audio/ci3.mp3" />
    <audio id="daai6" preload="none" src="/audio/daai6.mp3" />
    <audio id="dak1" preload="none" src="/audio/dak1.mp3" />
    <audio id="dei6" preload="none" src="/audio/dei6.mp3" />
    <audio id="di1" preload="none" src="/audio/di1.mp3" />
    <audio id="dim2" preload="none" src="/audio/dim2.mp3" />
    <audio id="dou2" preload="none" src="/audio/dou2.mp3" />
    <audio id="dou3" preload="none" src="/audio/dou3.mp3" />
    <audio id="dou6" preload="none" src="/audio/dou6.mp3" />
    <audio id="fong3" preload="none" src="/audio/fong3.mp3" />
    <audio id="fu4" preload="none" src="/audio/fu4.mp3" />
    <audio id="fung1" preload="none" src="/audio/fung1.mp3" />
    <audio id="gam2" preload="none" src="/audio/gam2.mp3" />
    <audio id="gan1" preload="none" src="/audio/gan1.mp3" />
    <audio id="gan2" preload="none" src="/audio/gan2.mp3" />
    <audio id="gin6" preload="none" src="/audio/gin6.mp3" />
    <audio id="go2" preload="none" src="/audio/go2.mp3" />
    <audio id="go3" preload="none" src="/audio/go3.mp3" />
    <audio id="gwo3" preload="none" src="/audio/gwo3.mp3" />
    <audio id="haang4" preload="none" src="/audio/haang4.mp3" />
    <audio id="hai2" preload="none" src="/audio/hai2.mp3" />
    <audio id="hai6" preload="none" src="/audio/hai6.mp3" />
    <audio id="hak1" preload="none" src="/audio/hak1.mp3" />
    <audio id="hau6" preload="none" src="/audio/hau6.mp3" />
    <audio id="hei3" preload="none" src="/audio/hei3.mp3" />
    <audio id="ho2" preload="none" src="/audio/ho2.mp3" />
    <audio id="jan4" preload="none" src="/audio/jan4.mp3" />
    <audio id="jat1" preload="none" src="/audio/jat1.mp3" />
    <audio id="jau5" preload="none" src="/audio/jau5.mp3" />
    <audio id="ji5" preload="none" src="/audio/ji5.mp3" />
    <audio id="jing6" preload="none" src="/audio/jing6.mp3" />
    <audio id="joeng4" preload="none" src="/audio/joeng4.mp3" />
    <audio id="jyu1" preload="none" src="/audio/jyu1.mp3" />
    <audio id="jyut6" preload="none" src="/audio/jyut6.mp3" />
    <audio id="keoi5" preload="none" src="/audio/keoi5.mp3" />
    <audio id="laa1" preload="none" src="/audio/laa1.mp3" />
    <audio id="laa2" preload="none" src="/audio/laa2.mp3" />
    <audio id="laak3" preload="none" src="/audio/laak3.mp3" />
    <audio id="lai4" preload="none" src="/audio/lai4.mp3" />
    <audio id="lau1" preload="none" src="/audio/lau1.mp3" />
    <audio id="lei6" preload="none" src="/audio/lei6.mp3" />
    <audio id="lek1" preload="none" src="/audio/lek1.mp3" />
    <audio id="li1" preload="none" src="/audio/li1.mp3" />
    <audio id="meng6" preload="none" src="/audio/meng6.mp3" />
    <audio id="mou5" preload="none" src="/audio/mou5.mp3" />
    <audio id="ne1" preload="none" src="/audio/ne1.mp3" />
    <audio id="ngaam1" preload="none" src="/audio/ngaam1.mp3" />
    <audio id="saai3" preload="none" src="/audio/saai3.mp3" />
    <audio id="sai1" preload="none" src="/audio/sai1.mp3" />
    <audio id="saai3" preload="none" src="/audio/saai3.mp3" />
    <audio id="sat6" preload="none" src="/audio/sat6.mp3" />
    <audio id="si6" preload="none" src="/audio/si6.mp3" />
    <audio id="syu1" preload="none" src="/audio/syu1.mp3" />
    <audio id="syun3" preload="none" src="/audio/syun3.mp3" />
    <audio id="taai3" preload="none" src="/audio/taai3.mp3" />
    <audio id="tai2" preload="none" src="/audio/tai2.mp3" />
    <audio id="tung4" preload="none" src="/audio/tung4.mp3" />
    <audio id="waa6" preload="none" src="/audio/waa6.mp3" />
    <audio id="wai4" preload="none" src="/audio/wai4.mp3" />
    <audio id="zan6" preload="none" src="/audio/zan6.mp3" />
    <audio id="zau6" preload="none" src="/audio/zau6.mp3" />
    <audio id="zeoi3" preload="none" src="/audio/zeoi3.mp3" />
    <audio id="zi1" preload="none" src="/audio/zi1.mp3" />
    <audio id="zik1" preload="none" src="/audio/zik1.mp3" />
    <audio id="zing2" preload="none" src="/audio/zing2.mp3" />
    <audio id="zo2" preload="none" src="/audio/zo2.mp3" />
    <audio id="zoek3" preload="none" src="/audio/zoek3.mp3" />
    <audio id="zyu6" preload="none" src="/audio/zyu6.mp3" />
</docaudio>