<docaudio>
    <audio id="aan3" src="/audio/aan3.wav" />
    <audio id="baa1" src="/audio/baa1.wav" />
    <audio id="bat1" src="/audio/bat1.wav" />
    <audio id="bo1" src="/audio/bo1.wav" />
    <audio id="caa1" src="/audio/caa1.wav" />
    <audio id="daa2" src="/audio/daa2.wav" />
    <audio id="faa1" src="/audio/faa1.wav" />
    <audio id="fu1" src="/audio/fu1.wav" />
    <audio id="fui1" src="/audio/fui1.wav" />
    <audio id="fuk1" src="/audio/fuk1.wav" />
    <audio id="fun1" src="/audio/fun1.wav" />
    <audio id="fung1" src="/audio/fung1.wav" />
    <audio id="fut3" src="/audio/fut3.wav" />
    <audio id="ga3" src="/audio/ga3.wav" />
    <audio id="gaa1" src="/audio/gaa1.wav" />
    <audio id="goe3" src="/audio/goe3.wav" />
    <audio id="goek3" src="/audio/goek3.wav" />
    <audio id="goeng1" src="/audio/goeng1.wav" />
    <audio id="gou1" src="/audio/gou1.wav" />
    <audio id="gwaa1" src="/audio/gwaa1.wav" />
    <audio id="haa1" src="/audio/haa1.wav" />
    <audio id="ho2" src="/audio/ho2.wav" />
    <audio id="hoi1" src="/audio/hoi1.wav" />
    <audio id="hok6" src="/audio/hok6.wav" />
    <audio id="hon3" src="/audio/hon3.wav" />
    <audio id="hong1" src="/audio/hong1.wav" />
    <audio id="hot3" src="/audio/hot3.wav" />
    <audio id="hou2" src="/audio/hou2.wav" />
    <audio id="jaa5" src="/audio/jaa5.wav" />
    <audio id="kaa1" src="/audio/kaa1.wav" />
    <audio id="kwaa1" src="/audio/kwaa1.wav" />
    <audio id="laa1" src="/audio/laa1.wav" />
    <audio id="lem2" src="/audio/lem2.wav" />
    <audio id="m4" src="/audio/m4.wav" />
    <audio id="maa1" src="/audio/maa1.wav" />
    <audio id="mei6" src="/audio/mei6.wav" />
    <audio id="naa5" src="/audio/naa5.wav" />
    <audio id="ng4" src="/audio/ng4.wav" />
    <audio id="ngaa4" src="/audio/ngaa4.wav" />
    <audio id="saa1" src="/audio/saa1.wav" />
    <audio id="sai1" src="/audio/sai1.wav" />
    <audio id="sam1" src="/audio/sam1.wav" />
    <audio id="san1" src="/audio/san1.wav" />
    <audio id="sang1" src="/audio/sang1.wav" />
    <audio id="sau1" src="/audio/sau1.wav" />
    <audio id="se1" src="/audio/se1.wav" />
    <audio id="sei3" src="/audio/sei3.wav" />
    <audio id="seoi1" src="/audio/seoi1.wav" />
    <audio id="seot1" src="/audio/seot1.wav" />
    <audio id="soek3" src="/audio/soek3.wav" />
    <audio id="sek6" src="/audio/sek6.wav" />
    <audio id="ngon6" src="/audio/ngon6.wav" />
    <audio id="ngaan6" src="/audio/ngaan6.wav" />
    <audio id="on3" src="/audio/on3.wav" />
    <audio id="paa3" src="/audio/paa3.wav" />
    <audio id="sak1" src="/audio/sak1.wav" />
    <audio id="sap1" src="/audio/sap1.wav" />
    <audio id="sat1" src="/audio/sat1.wav" />
    <audio id="seon1" src="/audio/seon1.wav" />
    <audio id="si1" src="/audio/si1.wav" />
    <audio id="si2" src="/audio/si2.wav" />
    <audio id="si3" src="/audio/si3.wav" />
    <audio id="si4" src="/audio/si4.wav" />
    <audio id="si5" src="/audio/si5.wav" />
    <audio id="si6" src="/audio/si6.wav" />
    <audio id="sik1" src="/audio/sik1.wav" />
    <audio id="sim2" src="/audio/sim2.wav" />
    <audio id="sin1" src="/audio/sin1.wav" />
    <audio id="sing1" src="/audio/sing1.wav" />
    <audio id="sip3" src="/audio/sip3.wav" />
    <audio id="sit3" src="/audio/sit3.wav" />
    <audio id="sit6" src="/audio/sit6.wav" />
    <audio id="siu1" src="/audio/siu1.wav" />
    <audio id="so1" src="/audio/so1.wav" />
    <audio id="sou1" src="/audio/sou1.wav" />
    <audio id="syu1" src="/audio/syu1.wav" />
    <audio id="syun1" src="/audio/syun1.wav" />
    <audio id="syut3" src="/audio/syut3.wav" />
    <audio id="taa1" src="/audio/taa1.wav" />
    <audio id="waa1" src="/audio/waa1.wav" />
    <audio id="zaa1" src="/audio/zaa1.wav" />
    <audio id="zaai1" src="/audio/zaai1.wav" />
    <audio id="zaak6" src="/audio/zaak6.wav" />
    <audio id="zaam6" src="/audio/zaam6.wav" />
    <audio id="zaang6" src="/audio/zaang6.wav" />
    <audio id="zaan3" src="/audio/zaan3.wav" />
    <audio id="zaap6" src="/audio/zaap6.wav" />
    <audio id="zaat3" src="/audio/zaat3.wav" />
    <audio id="zaau1" src="/audio/zaau1.wav" />
    <audio id="zai1" src="/audio/zai1.wav" />
    <audio id="zak1" src="/audio/zak1.wav" />
    <audio id="zam1" src="/audio/zam1.wav" />
    <audio id="zan1" src="/audio/zan1.wav" />
    <audio id="zang1" src="/audio/zang1.wav" />
    <audio id="zap1" src="/audio/zap1.wav" />
    <audio id="zat6" src="/audio/zat6.wav" />
    <audio id="zau1" src="/audio/zau1.wav" />
    <audio id="ze3" src="/audio/ze3.wav" />
    <audio id="zek3" src="/audio/zek3.wav" />
    <audio id="zeng6" src="/audio/zeng6.wav" />
    <audio id="zim1" src="/audio/zim1.wav" />
    <audio id="zin1" src="/audio/zin1.wav" />
    <audio id="zing1" src="/audio/zing1.wav" />
    <audio id="zip3" src="/audio/zip3.wav" />
    <audio id="zit3" src="/audio/zit3.wav" />
    <audio id="zong1" src="/audio/zong1.wav" />
    <audio id="zung1" src="/audio/zung1.wav" />
    <audio id="zyu1" src="/audio/zyu1.wav" />
</docaudio>