<docaudio>
    <audio id="aan3" preload="none" src="/audio/aan3.mp3" />
    <audio id="baa1" preload="none" src="/audio/baa1.mp3" />
    <audio id="bat1" preload="none" src="/audio/bat1.mp3" />
    <audio id="bet6" preload="none" src="/audio/bet6.mp3" />
    <audio id="bo1" preload="none" src="/audio/bo1.mp3" />
    <audio id="caa1" preload="none" src="/audio/caa1.mp3" />
    <audio id="daa2" preload="none" src="/audio/daa2.mp3" />
    <audio id="deu6" preload="none" src="/audio/deu6.mp3" />
    <audio id="faa1" preload="none" src="/audio/faa1.mp3" />
    <audio id="fu1" preload="none" src="/audio/fu1.mp3" />
    <audio id="fui1" preload="none" src="/audio/fui1.mp3" />
    <audio id="fuk1" preload="none" src="/audio/fuk1.mp3" />
    <audio id="fun1" preload="none" src="/audio/fun1.mp3" />
    <audio id="fung1" preload="none" src="/audio/fung1.mp3" />
    <audio id="fut3" preload="none" src="/audio/fut3.mp3" />
    <audio id="ga3" preload="none" src="/audio/ga3.mp3" />
    <audio id="gaa1" preload="none" src="/audio/gaa1.mp3" />
    <audio id="gep6" preload="none" src="/audio/gep6.mp3" />
    <audio id="goe3" preload="none" src="/audio/goe3.mp3" />
    <audio id="goek3" preload="none" src="/audio/goek3.mp3" />
    <audio id="goeng1" preload="none" src="/audio/goeng1.mp3" />
    <audio id="gou1" preload="none" src="/audio/gou1.mp3" />
    <audio id="gwaa1" preload="none" src="/audio/gwaa1.mp3" />
    <audio id="haa1" preload="none" src="/audio/haa1.mp3" />
    <audio id="ho2" preload="none" src="/audio/ho2.mp3" />
    <audio id="hoi1" preload="none" src="/audio/hoi1.mp3" />
    <audio id="hok6" preload="none" src="/audio/hok6.mp3" />
    <audio id="hon3" preload="none" src="/audio/hon3.mp3" />
    <audio id="hong1" preload="none" src="/audio/hong1.mp3" />
    <audio id="hot3" preload="none" src="/audio/hot3.mp3" />
    <audio id="hou2" preload="none" src="/audio/hou2.mp3" />
    <audio id="jaa5" preload="none" src="/audio/jaa5.mp3" />
    <audio id="kaa1" preload="none" src="/audio/kaa1.mp3" />
    <audio id="kwaa1" preload="none" src="/audio/kwaa1.mp3" />
    <audio id="la3" preload="none" src="/audio/la3.mp3" />
    <audio id="laa1" preload="none" src="/audio/laa1.mp3" />
    <audio id="lem2" preload="none" src="/audio/lem2.mp3" />
    <audio id="m4" preload="none" src="/audio/m4.mp3" />
    <audio id="maa1" preload="none" src="/audio/maa1.mp3" />
    <audio id="mei6" preload="none" src="/audio/mei6.mp3" />
    <audio id="naa5" preload="none" src="/audio/naa5.mp3" />
    <audio id="ng4" preload="none" src="/audio/ng4.mp3" />
    <audio id="ngaa4" preload="none" src="/audio/ngaa4.mp3" />
    <audio id="oet6" preload="none" src="/audio/oet6.mp3" />
    <audio id="pet6" preload="none" src="/audio/pet6.mp3" />
    <audio id="saa1" preload="none" src="/audio/saa1.mp3" />
    <audio id="sai1" preload="none" src="/audio/sai1.mp3" />
    <audio id="sam1" preload="none" src="/audio/sam1.mp3" />
    <audio id="san1" preload="none" src="/audio/san1.mp3" />
    <audio id="sang1" preload="none" src="/audio/sang1.mp3" />
    <audio id="sau1" preload="none" src="/audio/sau1.mp3" />
    <audio id="se1" preload="none" src="/audio/se1.mp3" />
    <audio id="sei3" preload="none" src="/audio/sei3.mp3" />
    <audio id="seoi1" preload="none" src="/audio/seoi1.mp3" />
    <audio id="seot1" preload="none" src="/audio/seot1.mp3" />
    <audio id="soek3" preload="none" src="/audio/soek3.mp3" />
    <audio id="sek6" preload="none" src="/audio/sek6.mp3" />
    <audio id="ngon6" preload="none" src="/audio/ngon6.mp3" />
    <audio id="ngaan6" preload="none" src="/audio/ngaan6.mp3" />
    <audio id="on3" preload="none" src="/audio/on3.mp3" />
    <audio id="paa3" preload="none" src="/audio/paa3.mp3" />
    <audio id="sak1" preload="none" src="/audio/sak1.mp3" />
    <audio id="sap1" preload="none" src="/audio/sap1.mp3" />
    <audio id="sat1" preload="none" src="/audio/sat1.mp3" />
    <audio id="seon1" preload="none" src="/audio/seon1.mp3" />
    <audio id="si1" preload="none" src="/audio/si1.mp3" />
    <audio id="si2" preload="none" src="/audio/si2.mp3" />
    <audio id="si3" preload="none" src="/audio/si3.mp3" />
    <audio id="si4" preload="none" src="/audio/si4.mp3" />
    <audio id="si5" preload="none" src="/audio/si5.mp3" />
    <audio id="si6" preload="none" src="/audio/si6.mp3" />
    <audio id="sik1" preload="none" src="/audio/sik1.mp3" />
    <audio id="sim2" preload="none" src="/audio/sim2.mp3" />
    <audio id="sin1" preload="none" src="/audio/sin1.mp3" />
    <audio id="sing1" preload="none" src="/audio/sing1.mp3" />
    <audio id="sip3" preload="none" src="/audio/sip3.mp3" />
    <audio id="sit3" preload="none" src="/audio/sit3.mp3" />
    <audio id="sit6" preload="none" src="/audio/sit6.mp3" />
    <audio id="siu1" preload="none" src="/audio/siu1.mp3" />
    <audio id="so1" preload="none" src="/audio/so1.mp3" />
    <audio id="sou1" preload="none" src="/audio/sou1.mp3" />
    <audio id="syu1" preload="none" src="/audio/syu1.mp3" />
    <audio id="syun1" preload="none" src="/audio/syun1.mp3" />
    <audio id="syut3" preload="none" src="/audio/syut3.mp3" />
    <audio id="taa1" preload="none" src="/audio/taa1.mp3" />
    <audio id="waa1" preload="none" src="/audio/waa1.mp3" />
    <audio id="zaa1" preload="none" src="/audio/zaa1.mp3" />
    <audio id="zaai1" preload="none" src="/audio/zaai1.mp3" />
    <audio id="zaak6" preload="none" src="/audio/zaak6.mp3" />
    <audio id="zaam6" preload="none" src="/audio/zaam6.mp3" />
    <audio id="zaang6" preload="none" src="/audio/zaang6.mp3" />
    <audio id="zaan3" preload="none" src="/audio/zaan3.mp3" />
    <audio id="zaap6" preload="none" src="/audio/zaap6.mp3" />
    <audio id="zaat3" preload="none" src="/audio/zaat3.mp3" />
    <audio id="zaau1" preload="none" src="/audio/zaau1.mp3" />
    <audio id="zai1" preload="none" src="/audio/zai1.mp3" />
    <audio id="zak1" preload="none" src="/audio/zak1.mp3" />
    <audio id="zam1" preload="none" src="/audio/zam1.mp3" />
    <audio id="zan1" preload="none" src="/audio/zan1.mp3" />
    <audio id="zang1" preload="none" src="/audio/zang1.mp3" />
    <audio id="zap1" preload="none" src="/audio/zap1.mp3" />
    <audio id="zat6" preload="none" src="/audio/zat6.mp3" />
    <audio id="zau1" preload="none" src="/audio/zau1.mp3" />
    <audio id="ze3" preload="none" src="/audio/ze3.mp3" />
    <audio id="zek3" preload="none" src="/audio/zek3.mp3" />
    <audio id="zeng6" preload="none" src="/audio/zeng6.mp3" />
    <audio id="zim1" preload="none" src="/audio/zim1.mp3" />
    <audio id="zin1" preload="none" src="/audio/zin1.mp3" />
    <audio id="zing1" preload="none" src="/audio/zing1.mp3" />
    <audio id="zip3" preload="none" src="/audio/zip3.mp3" />
    <audio id="zit3" preload="none" src="/audio/zit3.mp3" />
    <audio id="zong1" preload="none" src="/audio/zong1.mp3" />
    <audio id="zung1" preload="none" src="/audio/zung1.mp3" />
    <audio id="zyu1" preload="none" src="/audio/zyu1.mp3" />
</docaudio>