<docaudio>
    <audio id="aan3" src="/audio/aan3.mp3" />
    <audio id="baa1" src="/audio/baa1.mp3" />
    <audio id="bat1" src="/audio/bat1.mp3" />
    <audio id="bet6" src="/audio/bet6.mp3" />
    <audio id="bo1" src="/audio/bo1.mp3" />
    <audio id="caa1" src="/audio/caa1.mp3" />
    <audio id="daa2" src="/audio/daa2.mp3" />
    <audio id="deu6" src="/audio/deu6.wav" />
    <audio id="faa1" src="/audio/faa1.mp3" />
    <audio id="fu1" src="/audio/fu1.mp3" />
    <audio id="fui1" src="/audio/fui1.mp3" />
    <audio id="fuk1" src="/audio/fuk1.mp3" />
    <audio id="fun1" src="/audio/fun1.mp3" />
    <audio id="fung1" src="/audio/fung1.mp3" />
    <audio id="fut3" src="/audio/fut3.mp3" />
    <audio id="ga3" src="/audio/ga3.mp3" />
    <audio id="gaa1" src="/audio/gaa1.mp3" />
    <audio id="gep6" src="/audio/gep6.mp3" />
    <audio id="goe3" src="/audio/goe3.mp3" />
    <audio id="goek3" src="/audio/goek3.mp3" />
    <audio id="goeng1" src="/audio/goeng1.mp3" />
    <audio id="gou1" src="/audio/gou1.mp3" />
    <audio id="gwaa1" src="/audio/gwaa1.mp3" />
    <audio id="haa1" src="/audio/haa1.mp3" />
    <audio id="ho2" src="/audio/ho2.mp3" />
    <audio id="hoi1" src="/audio/hoi1.mp3" />
    <audio id="hok6" src="/audio/hok6.mp3" />
    <audio id="hon3" src="/audio/hon3.mp3" />
    <audio id="hong1" src="/audio/hong1.mp3" />
    <audio id="hot3" src="/audio/hot3.mp3" />
    <audio id="hou2" src="/audio/hou2.mp3" />
    <audio id="jaa5" src="/audio/jaa5.mp3" />
    <audio id="kaa1" src="/audio/kaa1.mp3" />
    <audio id="kwaa1" src="/audio/kwaa1.mp3" />
    <audio id="la3" src="/audio/la3.wav" />
    <audio id="laa1" src="/audio/laa1.mp3" />
    <audio id="lem2" src="/audio/lem2.wav" />
    <audio id="m4" src="/audio/m4.mp3" />
    <audio id="maa1" src="/audio/maa1.mp3" />
    <audio id="mei6" src="/audio/mei6.mp3" />
    <audio id="naa5" src="/audio/naa5.mp3" />
    <audio id="ng4" src="/audio/ng4.mp3" />
    <audio id="ngaa4" src="/audio/ngaa4.mp3" />
    <audio id="oet6" src="/audio/oet6.wav" />
    <audio id="saa1" src="/audio/saa1.mp3" />
    <audio id="sai1" src="/audio/sai1.mp3" />
    <audio id="sam1" src="/audio/sam1.mp3" />
    <audio id="san1" src="/audio/san1.mp3" />
    <audio id="sang1" src="/audio/sang1.mp3" />
    <audio id="sau1" src="/audio/sau1.mp3" />
    <audio id="se1" src="/audio/se1.mp3" />
    <audio id="sei3" src="/audio/sei3.mp3" />
    <audio id="seoi1" src="/audio/seoi1.mp3" />
    <audio id="seot1" src="/audio/seot1.mp3" />
    <audio id="soek3" src="/audio/soek3.mp3" />
    <audio id="sek6" src="/audio/sek6.mp3" />
    <audio id="ngon6" src="/audio/ngon6.mp3" />
    <audio id="ngaan6" src="/audio/ngaan6.mp3" />
    <audio id="on3" src="/audio/on3.mp3" />
    <audio id="paa3" src="/audio/paa3.mp3" />
    <audio id="sak1" src="/audio/sak1.mp3" />
    <audio id="sap1" src="/audio/sap1.mp3" />
    <audio id="sat1" src="/audio/sat1.mp3" />
    <audio id="seon1" src="/audio/seon1.mp3" />
    <audio id="si1" src="/audio/si1.mp3" />
    <audio id="si2" src="/audio/si2.mp3" />
    <audio id="si3" src="/audio/si3.mp3" />
    <audio id="si4" src="/audio/si4.mp3" />
    <audio id="si5" src="/audio/si5.mp3" />
    <audio id="si6" src="/audio/si6.mp3" />
    <audio id="sik1" src="/audio/sik1.mp3" />
    <audio id="sim2" src="/audio/sim2.mp3" />
    <audio id="sin1" src="/audio/sin1.mp3" />
    <audio id="sing1" src="/audio/sing1.mp3" />
    <audio id="sip3" src="/audio/sip3.mp3" />
    <audio id="sit3" src="/audio/sit3.mp3" />
    <audio id="sit6" src="/audio/sit6.mp3" />
    <audio id="siu1" src="/audio/siu1.mp3" />
    <audio id="so1" src="/audio/so1.mp3" />
    <audio id="sou1" src="/audio/sou1.mp3" />
    <audio id="syu1" src="/audio/syu1.mp3" />
    <audio id="syun1" src="/audio/syun1.mp3" />
    <audio id="syut3" src="/audio/syut3.mp3" />
    <audio id="taa1" src="/audio/taa1.mp3" />
    <audio id="waa1" src="/audio/waa1.mp3" />
    <audio id="zaa1" src="/audio/zaa1.mp3" />
    <audio id="zaai1" src="/audio/zaai1.mp3" />
    <audio id="zaak6" src="/audio/zaak6.mp3" />
    <audio id="zaam6" src="/audio/zaam6.mp3" />
    <audio id="zaang6" src="/audio/zaang6.mp3" />
    <audio id="zaan3" src="/audio/zaan3.mp3" />
    <audio id="zaap6" src="/audio/zaap6.mp3" />
    <audio id="zaat3" src="/audio/zaat3.mp3" />
    <audio id="zaau1" src="/audio/zaau1.mp3" />
    <audio id="zai1" src="/audio/zai1.mp3" />
    <audio id="zak1" src="/audio/zak1.mp3" />
    <audio id="zam1" src="/audio/zam1.mp3" />
    <audio id="zan1" src="/audio/zan1.mp3" />
    <audio id="zang1" src="/audio/zang1.mp3" />
    <audio id="zap1" src="/audio/zap1.mp3" />
    <audio id="zat6" src="/audio/zat6.mp3" />
    <audio id="zau1" src="/audio/zau1.mp3" />
    <audio id="ze3" src="/audio/ze3.mp3" />
    <audio id="zek3" src="/audio/zek3.mp3" />
    <audio id="zeng6" src="/audio/zeng6.mp3" />
    <audio id="zim1" src="/audio/zim1.mp3" />
    <audio id="zin1" src="/audio/zin1.mp3" />
    <audio id="zing1" src="/audio/zing1.mp3" />
    <audio id="zip3" src="/audio/zip3.mp3" />
    <audio id="zit3" src="/audio/zit3.mp3" />
    <audio id="zong1" src="/audio/zong1.mp3" />
    <audio id="zung1" src="/audio/zung1.mp3" />
    <audio id="zyu1" src="/audio/zyu1.mp3" />
</docaudio>