<docaudio>
    <audio id="aan3" preload="none" src="/audio/aan3.mp3" />
    <audio id="baau1" preload="none" src="/audio/baau1.mp3" />
    <audio id="baa1" preload="none" src="/audio/baa1.mp3" />
    <audio id="baak6" preload="none" src="/audio/baak6.mp3" />
    <audio id="beng2" preload="none" src="/audio/beng2.mp3" />
    <audio id="bo1" preload="none" src="/audio/bo1.mp3" />
    <audio id="bok3" preload="none" src="/audio/bok3.mp3" />
    <audio id="bui1" preload="none" src="/audio/bui1.mp3" />
    <audio id="caa4" preload="none" src="/audio/caa4.mp3" />
    <audio id="ce1" preload="none" src="/audio/ce1.mp3" />
    <audio id="ci4" preload="none" src="/audio/ci4.mp3" />
    <audio id="co5" preload="none" src="/audio/co5.mp3" />
    <audio id="cyun1" preload="none" src="/audio/cyun1.mp3" />
    <audio id="daa1" preload="none" src="/audio/daa1.mp3" />
    <audio id="daa2" preload="none" src="/audio/daa2.mp3" />
    <audio id="dang2" preload="none" src="/audio/dang2.mp3" />
    <audio id="deu6" preload="none" src="/audio/deu6.mp3" />
    <audio id="dip6" preload="none" src="/audio/dip6.mp3" />
    <audio id="dyun2" preload="none" src="/audio/dyun2.mp3" />
    <audio id="faan6" preload="none" src="/audio/faan6.mp3" />
    <audio id="fu1" preload="none" src="/audio/fu1.mp3" />
    <audio id="fu2" preload="none" src="/audio/fu2.mp3" />
    <audio id="fuk1" preload="none" src="/audio/fuk1.mp3" />
    <audio id="gaa1" preload="none" src="/audio/gaa1.mp3" />
    <audio id="gau2" preload="none" src="/audio/gau2.mp3" />
    <audio id="gep6" preload="none" src="/audio/gep6.mp3" />
    <audio id="go1" preload="none" src="/audio/go1.mp3" />
    <audio id="goek3" preload="none" src="/audio/goek3.mp3" />
    <audio id="gou1" preload="none" src="/audio/gou1.mp3" />
    <audio id="gok3" preload="none" src="/audio/gok3.mp3" />
    <audio id="got3" preload="none" src="/audio/got3.mp3" />
    <audio id="gong1" preload="none" src="/audio/gong1.mp3" />
    <audio id="gu1" preload="none" src="/audio/gu1.mp3" />
    <audio id="gu2" preload="none" src="/audio/gu2.mp3" />
    <audio id="gui6" preload="none" src="/audio/gui6.mp3" />
    <audio id="gung1" preload="none" src="/audio/gung1.mp3" />
    <audio id="gwaa1" preload="none" src="/audio/gwaa1.mp3" />
    <audio id="gwo3" preload="none" src="/audio/gwo3.mp3" />
    <audio id="gwong2" preload="none" src="/audio/gwong2.mp3" />
    <audio id="haau2" preload="none" src="/audio/haau2.mp3" />
    <audio id="ham4" preload="none" src="/audio/ham4.mp3" />
    <audio id="han4" preload="none" src="/audio/han4.mp3" />
    <audio id="hang4" preload="none" src="/audio/hang4.mp3" />
    <audio id="hau2" preload="none" src="/audio/hau2.mp3" />
    <audio id="heoi3" preload="none" src="/audio/heoi3.mp3" />
    <audio id="ho2" preload="none" src="/audio/ho2.mp3" />
    <audio id="hoe1" preload="none" src="/audio/hoe1.mp3" />
    <audio id="hoeng3" preload="none" src="/audio/hoeng3.mp3" />
    <audio id="hoi1" preload="none" src="/audio/hoi1.mp3" />
    <audio id="hon6" preload="none" src="/audio/hon6.mp3" />
    <audio id="jat1" preload="none" src="/audio/jat1.mp3" />
    <audio id="je6" preload="none" src="/audio/je6.mp3" />
    <audio id="jeon6" preload="none" src="/audio/jeon6.mp3" />
    <audio id="ji5" preload="none" src="/audio/ji5.mp3" />
    <audio id="jit6" preload="none" src="/audio/jit6.mp3" />
    <audio id="joeng6" preload="none" src="/audio/joeng6.mp3" />
    <audio id="jyu5" preload="none" src="/audio/jyu5.mp3" />
    <audio id="kaa1" preload="none" src="/audio/kaa1.mp3" />
    <audio id="kwaa1" preload="none" src="/audio/kwaa1.mp3" />
    <audio id="kwan1" preload="none" src="/audio/kwan1.mp3" />
    <audio id="kwong4" preload="none" src="/audio/kwong4.mp3" />
    <audio id="laat6" preload="none" src="/audio/laat6.mp3" />
    <audio id="lem2" preload="none" src="/audio/lem2.mp3" />
    <audio id="luk6" preload="none" src="/audio/luk6.mp3" />
    <audio id="m4" preload="none" src="/audio/m4.mp3" />
    <audio id="min6" preload="none" src="/audio/min6.mp3" />
    <audio id="mun4" preload="none" src="/audio/mun4.mp3" />
    <audio id="paa1" preload="none" src="/audio/paa1.mp3" />
    <audio id="paau2" preload="none" src="/audio/paau2.mp3" />
    <audio id="saam1" preload="none" src="/audio/saam1.mp3" />
    <audio id="saan1" preload="none" src="/audio/saan1.mp3" />
    <audio id="saang1" preload="none" src="/audio/saang1.mp3" />
    <audio id="saau2" preload="none" src="/audio/saau2.mp3" />
    <audio id="sam1" preload="none" src="/audio/sam1.mp3" />
    <audio id="san1" preload="none" src="/audio/san1.mp3" />
    <audio id="sap6" preload="none" src="/audio/sap6.mp3" />
    <audio id="sau2" preload="none" src="/audio/sau2.mp3" />
    <audio id="se2" preload="none" src="/audio/se2.mp3" />
    <audio id="sei3" preload="none" src="/audio/sei3.mp3" />
    <audio id="seot1" preload="none" src="/audio/seot1.mp3" />
    <audio id="seon3" preload="none" src="/audio/seon3.mp3" />
    <audio id="soek3" preload="none" src="/audio/soek3.mp3" />
    <audio id="sek6" preload="none" src="/audio/sek6.mp3" />
    <audio id="naam4" preload="none" src="/audio/naam4.mp3" />
    <audio id="ng5" preload="none" src="/audio/ng5.mp3" />
    <audio id="ngaa4" preload="none" src="/audio/ngaa4.mp3" />
    <audio id="ngaan5" preload="none" src="/audio/ngaan5.mp3" />
    <audio id="ngaang6" preload="none" src="/audio/ngaang6.mp3" />
    <audio id="ngo5" preload="none" src="/audio/ngo5.mp3" />
    <audio id="ngoi6" preload="none" src="/audio/ngoi6.mp3" />
    <audio id="ngon6" preload="none" src="/audio/ngon6.mp3" />
    <audio id="ngaan6" preload="none" src="/audio/ngaan6.mp3" />
    <audio id="oet6" preload="none" src="/audio/oet6.mp3" />
    <audio id="on3" preload="none" src="/audio/on3.mp3" />
    <audio id="paa4" preload="none" src="/audio/paa4.mp3" />
    <audio id="sak1" preload="none" src="/audio/sak1.mp3" />
    <audio id="sap1" preload="none" src="/audio/sap1.mp3" />
    <audio id="sat1" preload="none" src="/audio/sat1.mp3" />
    <audio id="si1" preload="none" src="/audio/si1.mp3" />
    <audio id="si2" preload="none" src="/audio/si2.mp3" />
    <audio id="si3" preload="none" src="/audio/si3.mp3" />
    <audio id="si4" preload="none" src="/audio/si4.mp3" />
    <audio id="si5" preload="none" src="/audio/si5.mp3" />
    <audio id="si6" preload="none" src="/audio/si6.mp3" />
    <audio id="sik1" preload="none" src="/audio/sik1.mp3" />
    <audio id="sin1" preload="none" src="/audio/sin1.mp3" />
    <audio id="sing1" preload="none" src="/audio/sing1.mp3" />
    <audio id="siu2" preload="none" src="/audio/siu2.mp3" />
    <audio id="taa1" preload="none" src="/audio/taa1.mp3" />
    <audio id="wo4" preload="none" src="/audio/wo4.mp3" />
    <audio id="wui3" preload="none" src="/audio/wui3.mp3" />
    <audio id="wut6" preload="none" src="/audio/wut6.mp3" />
    <audio id="zaa3" preload="none" src="/audio/zaa3.mp3" />
    <audio id="zaap6" preload="none" src="/audio/zaap6.mp3" />
    <audio id="ze1" preload="none" src="/audio/ze1.mp3" />
    <audio id="ze3" preload="none" src="/audio/ze3.mp3" />
    <audio id="zek3" preload="none" src="/audio/zek3.mp3" />
    <audio id="zeng6" preload="none" src="/audio/zeng6.mp3" />
    <audio id="zi1" preload="none" src="/audio/zi1.mp3" />
    <audio id="zik1" preload="none" src="/audio/zik1.mp3" />
    <audio id="zim1" preload="none" src="/audio/zim1.mp3" />
    <audio id="zin1" preload="none" src="/audio/zin1.mp3" />
    <audio id="zing1" preload="none" src="/audio/zing1.mp3" />
    <audio id="zip3" preload="none" src="/audio/zip3.mp3" />
    <audio id="zit3" preload="none" src="/audio/zit3.mp3" />
    <audio id="zo2" preload="none" src="/audio/zo2.mp3" />
    <audio id="zong1" preload="none" src="/audio/zong1.mp3" />
    <audio id="zung1" preload="none" src="/audio/zung1.mp3" />
    <audio id="zyu1" preload="none" src="/audio/zyu1.mp3" />
</docaudio>