<docaudio>
    <audio id="aan3" src="/audio/aan3.wav" />
    <audio id="baau1" src="/audio/baau1.wav" />
    <audio id="cyun1" src="/audio/cyun1.wav" />
    <audio id="gu2" src="/audio/gu2.wav" />
    <audio id="gwong2" src="/audio/gwong2.wav" />
    <audio id="haau2" src="/audio/haau2.wav" />
    <audio id="ham4" src="/audio/ham4.wav" />
    <audio id="han4" src="/audio/han4.wav" />
    <audio id="hang4" src="/audio/hang4.wav" />
    <audio id="jat1" src="/audio/jat1.wav" />
    <audio id="je6" src="/audio/je6.wav" />
    <audio id="jeon6" src="/audio/jeon6.wav" />
    <audio id="ji5" src="/audio/ji5.wav" />
    <audio id="joeng6" src="/audio/joeng6.wav" />
    <audio id="jyu5" src="/audio/jyu5.wav" />
    <audio id="kwan1" src="/audio/kwan1.wav" />
    <audio id="kwong4" src="/audio/kwong4.wav" />
    <audio id="saam1" src="/audio/saam1.wav" />
    <audio id="saan1" src="/audio/saan1.wav" />
    <audio id="saang1" src="/audio/saang1.wav" />
    <audio id="saau2" src="/audio/saau2.wav" />
    <audio id="sam1" src="/audio/sam1.wav" />
    <audio id="san1" src="/audio/san1.wav" />
    <audio id="sau2" src="/audio/sau2.wav" />
    <audio id="se2" src="/audio/se2.wav" />
    <audio id="seot1" src="/audio/seot1.wav" />
    <audio id="soek3" src="/audio/soek3.wav" />
    <audio id="sek6" src="/audio/sek6.wav" />
    <audio id="ngon6" src="/audio/ngon6.wav" />
    <audio id="ngaan6" src="/audio/ngaan6.wav" />
    <audio id="on3" src="/audio/on3.wav" />
    <audio id="sak1" src="/audio/sak1.wav" />
    <audio id="sap1" src="/audio/sap1.wav" />
    <audio id="sat1" src="/audio/sat1.wav" />
    <audio id="si1" src="/audio/si1.wav" />
    <audio id="si2" src="/audio/si2.wav" />
    <audio id="si3" src="/audio/si3.wav" />
    <audio id="si4" src="/audio/si4.wav" />
    <audio id="si5" src="/audio/si5.wav" />
    <audio id="si6" src="/audio/si6.wav" />
    <audio id="ze3" src="/audio/ze3.wav" />
    <audio id="zek3" src="/audio/zek3.wav" />
    <audio id="zeng6" src="/audio/zeng6.wav" />
    <audio id="zim1" src="/audio/zim1.wav" />
    <audio id="zin1" src="/audio/zin1.wav" />
    <audio id="zing1" src="/audio/zing1.wav" />
    <audio id="zip3" src="/audio/zip3.wav" />
    <audio id="zit3" src="/audio/zit3.wav" />
    <audio id="zong1" src="/audio/zong1.wav" />
    <audio id="zung1" src="/audio/zung1.wav" />
    <audio id="zyu1" src="/audio/zyu1.wav" />
</docaudio>