<docaudio>
    <audio id="aan3" src="/audio/aan3.mp3" />
    <audio id="baau1" src="/audio/baau1.mp3" />
    <audio id="baa1" src="/audio/baa1.mp3" />
    <audio id="baak6" src="/audio/baak6.mp3" />
    <audio id="beng2" src="/audio/beng2.mp3" />
    <audio id="bo1" src="/audio/bo1.mp3" />
    <audio id="bok3" src="/audio/bok3.mp3" />
    <audio id="bui1" src="/audio/bui1.mp3" />
    <audio id="caa4" src="/audio/caa4.mp3" />
    <audio id="ce1" src="/audio/ce1.mp3" />
    <audio id="ci4" src="/audio/ci4.mp3" />
    <audio id="co5" src="/audio/co5.mp3" />
    <audio id="cyun1" src="/audio/cyun1.mp3" />
    <audio id="daa1" src="/audio/daa1.mp3" />
    <audio id="daa2" src="/audio/daa2.mp3" />
    <audio id="dang2" src="/audio/dang2.mp3" />
    <audio id="deu6" src="/audio/deu6.mp3" />
    <audio id="dip6" src="/audio/dip6.mp3" />
    <audio id="dyun2" src="/audio/dyun2.mp3" />
    <audio id="faan6" src="/audio/faan6.mp3" />
    <audio id="fu1" src="/audio/fu1.mp3" />
    <audio id="fu2" src="/audio/fu2.mp3" />
    <audio id="fuk1" src="/audio/fuk1.mp3" />
    <audio id="gaa1" src="/audio/gaa1.mp3" />
    <audio id="gau2" src="/audio/gau2.mp3" />
    <audio id="gep6" src="/audio/gep6.mp3" />
    <audio id="go1" src="/audio/go1.mp3" />
    <audio id="goek3" src="/audio/goek3.mp3" />
    <audio id="gou1" src="/audio/gou1.mp3" />
    <audio id="gok3" src="/audio/gok3.mp3" />
    <audio id="got3" src="/audio/got3.mp3" />
    <audio id="gong1" src="/audio/gong1.mp3" />
    <audio id="gu1" src="/audio/gu1.mp3" />
    <audio id="gu2" src="/audio/gu2.mp3" />
    <audio id="gui6" src="/audio/gui6.mp3" />
    <audio id="gung1" src="/audio/gung1.mp3" />
    <audio id="gwaa1" src="/audio/gwaa1.mp3" />
    <audio id="gwo3" src="/audio/gwo3.mp3" />
    <audio id="gwong2" src="/audio/gwong2.mp3" />
    <audio id="haau2" src="/audio/haau2.mp3" />
    <audio id="ham4" src="/audio/ham4.mp3" />
    <audio id="han4" src="/audio/han4.mp3" />
    <audio id="hang4" src="/audio/hang4.mp3" />
    <audio id="hau2" src="/audio/hau2.mp3" />
    <audio id="heoi3" src="/audio/heoi3.mp3" />
    <audio id="ho2" src="/audio/ho2.mp3" />
    <audio id="hoe1" src="/audio/hoe1.mp3" />
    <audio id="hoeng3" src="/audio/hoeng3.mp3" />
    <audio id="hoi1" src="/audio/hoi1.mp3" />
    <audio id="hon6" src="/audio/hon6.mp3" />
    <audio id="jat1" src="/audio/jat1.mp3" />
    <audio id="je6" src="/audio/je6.mp3" />
    <audio id="jeon6" src="/audio/jeon6.mp3" />
    <audio id="ji5" src="/audio/ji5.mp3" />
    <audio id="jit6" src="/audio/jit6.mp3" />
    <audio id="joeng6" src="/audio/joeng6.mp3" />
    <audio id="jyu5" src="/audio/jyu5.mp3" />
    <audio id="kaa1" src="/audio/kaa1.mp3" />
    <audio id="kwaa1" src="/audio/kwaa1.mp3" />
    <audio id="kwan1" src="/audio/kwan1.mp3" />
    <audio id="kwong4" src="/audio/kwong4.mp3" />
    <audio id="laat6" src="/audio/laat6.mp3" />
    <audio id="lem2" src="/audio/lem2.mp3" />
    <audio id="luk6" src="/audio/luk6.mp3" />
    <audio id="m4" src="/audio/m4.mp3" />
    <audio id="min6" src="/audio/min6.mp3" />
    <audio id="mun4" src="/audio/mun4.mp3" />
    <audio id="paa1" src="/audio/paa1.mp3" />
    <audio id="paau2" src="/audio/paau2.mp3" />
    <audio id="saam1" src="/audio/saam1.mp3" />
    <audio id="saan1" src="/audio/saan1.mp3" />
    <audio id="saang1" src="/audio/saang1.mp3" />
    <audio id="saau2" src="/audio/saau2.mp3" />
    <audio id="sam1" src="/audio/sam1.mp3" />
    <audio id="san1" src="/audio/san1.mp3" />
    <audio id="sap6" src="/audio/sap6.mp3" />
    <audio id="sau2" src="/audio/sau2.mp3" />
    <audio id="se2" src="/audio/se2.mp3" />
    <audio id="sei3" src="/audio/sei3.mp3" />
    <audio id="seot1" src="/audio/seot1.mp3" />
    <audio id="seon3" src="/audio/seon3.mp3" />
    <audio id="soek3" src="/audio/soek3.mp3" />
    <audio id="sek6" src="/audio/sek6.mp3" />
    <audio id="naam4" src="/audio/naam4.mp3" />
    <audio id="ng5" src="/audio/ng5.mp3" />
    <audio id="ngaa4" src="/audio/ngaa4.mp3" />
    <audio id="ngaan5" src="/audio/ngaan5.mp3" />
    <audio id="ngaang6" src="/audio/ngaang6.mp3" />
    <audio id="ngo5" src="/audio/ngo5.mp3" />
    <audio id="ngoi6" src="/audio/ngoi6.mp3" />
    <audio id="ngon6" src="/audio/ngon6.mp3" />
    <audio id="ngaan6" src="/audio/ngaan6.mp3" />
    <audio id="oet6" src="/audio/oet6.mp3" />
    <audio id="on3" src="/audio/on3.mp3" />
    <audio id="paa4" src="/audio/paa4.mp3" />
    <audio id="sak1" src="/audio/sak1.mp3" />
    <audio id="sap1" src="/audio/sap1.mp3" />
    <audio id="sat1" src="/audio/sat1.mp3" />
    <audio id="si1" src="/audio/si1.mp3" />
    <audio id="si2" src="/audio/si2.mp3" />
    <audio id="si3" src="/audio/si3.mp3" />
    <audio id="si4" src="/audio/si4.mp3" />
    <audio id="si5" src="/audio/si5.mp3" />
    <audio id="si6" src="/audio/si6.mp3" />
    <audio id="sik1" src="/audio/sik1.mp3" />
    <audio id="sin1" src="/audio/sin1.mp3" />
    <audio id="sing1" src="/audio/sing1.mp3" />
    <audio id="siu2" src="/audio/siu2.mp3" />
    <audio id="taa1" src="/audio/taa1.mp3" />
    <audio id="wo4" src="/audio/wo4.mp3" />
    <audio id="wui3" src="/audio/wui3.mp3" />
    <audio id="wut6" src="/audio/wut6.mp3" />
    <audio id="zaa3" src="/audio/zaa3.mp3" />
    <audio id="zaap6" src="/audio/zaap6.mp3" />
    <audio id="ze1" src="/audio/ze1.mp3" />
    <audio id="ze3" src="/audio/ze3.mp3" />
    <audio id="zek3" src="/audio/zek3.mp3" />
    <audio id="zeng6" src="/audio/zeng6.mp3" />
    <audio id="zi1" src="/audio/zi1.mp3" />
    <audio id="zik1" src="/audio/zik1.mp3" />
    <audio id="zim1" src="/audio/zim1.mp3" />
    <audio id="zin1" src="/audio/zin1.mp3" />
    <audio id="zing1" src="/audio/zing1.mp3" />
    <audio id="zip3" src="/audio/zip3.mp3" />
    <audio id="zit3" src="/audio/zit3.mp3" />
    <audio id="zo2" src="/audio/zo2.mp3" />
    <audio id="zong1" src="/audio/zong1.mp3" />
    <audio id="zung1" src="/audio/zung1.mp3" />
    <audio id="zyu1" src="/audio/zyu1.mp3" />
</docaudio>