<docaudio>
    <audio id="aa3" preload="none" src="/audio/aa3.mp3" />
    <audio id="baa1" preload="none" src="/audio/baa1.mp3" />
    <audio id="baa2" preload="none" src="/audio/baa2.mp3" />
    <audio id="baak3" preload="none" src="/audio/baak3.mp3" />
    <audio id="bat1" preload="none" src="/audio/bat1.mp3" />
    <audio id="bei1" preload="none" src="/audio/bei1.mp3" />
    <audio id="bei2" preload="none" src="/audio/bei2.mp3" />
    <audio id="bin1" preload="none" src="/audio/bin1.mp3" />
    <audio id="bin6" preload="none" src="/audio/bin6.mp3" />
    <audio id="bing6" preload="none" src="/audio/bing6.mp3" />
    <audio id="bit1" preload="none" src="/audio/bit1.mp3" />
    <audio id="biu1" preload="none" src="/audio/biu1.mp3" />
    <audio id="bou3" preload="none" src="/audio/bou3.mp3" />
    <audio id="bou6" preload="none" src="/audio/bou6.mp3" />
    <audio id="bun6" preload="none" src="/audio/bun6.mp3" />
    <audio id="cai4" preload="none" src="/audio/cai4.mp3" />
    <audio id="can1" preload="none" src="/audio/can1.mp3" />
    <audio id="can4" preload="none" src="/audio/can4.mp3" />
    <audio id="cang4" preload="none" src="/audio/cang4.mp3" />
    <audio id="ce1" preload="none" src="/audio/ce1.mp3" />
    <audio id="ceoi1" preload="none" src="/audio/ceoi1.mp3" />
    <audio id="ceoi2" preload="none" src="/audio/ceoi2.mp3" />
    <audio id="ceoi4" preload="none" src="/audio/ceoi4.mp3" />
    <audio id="ceon1" preload="none" src="/audio/ceon1.mp3" />
    <audio id="ci2" preload="none" src="/audio/ci2.mp3" />
    <audio id="ci5" preload="none" src="/audio/ci5.mp3" />
    <audio id="cin2" preload="none" src="/audio/cin2.mp3" />
    <audio id="cin4" preload="none" src="/audio/cin4.mp3" />
    <audio id="cing4" preload="none" src="/audio/cing4.mp3" />
    <audio id="cit3" preload="none" src="/audio/cit3.mp3" />
    <audio id="coeng3" preload="none" src="/audio/coeng3.mp3" />
    <audio id="coeng4" preload="none" src="/audio/coeng4.mp3" />
    <audio id="coi4" preload="none" src="/audio/coi4.mp3" />
    <audio id="cung1" preload="none" src="/audio/cung1.mp3" />
    <audio id="cyun1" preload="none" src="/audio/cyun1.mp3" />
    <audio id="daai6" preload="none" src="/audio/daai6.mp3" />
    <audio id="dak1" preload="none" src="/audio/dak1.mp3" />
    <audio id="dang2" preload="none" src="/audio/dang2.mp3" />
    <audio id="dau3" preload="none" src="/audio/dau3.mp3" />
    <audio id="dei6" preload="none" src="/audio/dei6.mp3" />
    <audio id="dik1" preload="none" src="/audio/dik1.mp3" />
    <audio id="dim2" preload="none" src="/audio/dim2.mp3" />
    <audio id="diu6" preload="none" src="/audio/diu6.mp3" />
    <audio id="do1" preload="none" src="/audio/do1.mp3" />
    <audio id="doi6" preload="none" src="/audio/doi6.mp3" />
    <audio id="dou1" preload="none" src="/audio/dou1.mp3" />
    <audio id="dou2" preload="none" src="/audio/dou2.mp3" />
    <audio id="dou3" preload="none" src="/audio/dou3.mp3" />
    <audio id="dung1" preload="none" src="/audio/dung1.mp3" />
    <audio id="dung2" preload="none" src="/audio/dung2.mp3" />
    <audio id="dung3" preload="none" src="/audio/dung3.mp3" />
    <audio id="dyun1" preload="none" src="/audio/dyun1.mp3" />
    <audio id="dyun2" preload="none" src="/audio/dyun2.mp3" />
    <audio id="dyun6" preload="none" src="/audio/dyun6.mp3" />
    <audio id="faa1" preload="none" src="/audio/faa1.mp3" />
    <audio id="faa3" preload="none" src="/audio/faa3.mp3" />
    <audio id="faai3" preload="none" src="/audio/faai3.mp3" />
    <audio id="faan2" preload="none" src="/audio/faan2.mp3" />
    <audio id="faat3" preload="none" src="/audio/faat3.mp3" />
    <audio id="fan4" preload="none" src="/audio/fan4.mp3" />
    <audio id="fei1" preload="none" src="/audio/fei1.mp3" />
    <audio id="fo2" preload="none" src="/audio/fo2.mp3" />
    <audio id="fong3" preload="none" src="/audio/fong3.mp3" />
    <audio id="fu1" preload="none" src="/audio/fu1.mp3" />
    <audio id="fu2" preload="none" src="/audio/fu2.mp3" />
    <audio id="fu3" preload="none" src="/audio/fu3.mp3" />
    <audio id="fu5" preload="none" src="/audio/fu5.mp3" />
    <audio id="fuk1" preload="none" src="/audio/fuk1.mp3" />
    <audio id="fun1" preload="none" src="/audio/fun1.mp3" />
    <audio id="fung1" preload="none" src="/audio/fung1.mp3" />
    <audio id="gaa1" preload="none" src="/audio/gaa1.mp3" />
    <audio id="gaa2" preload="none" src="/audio/gaa2.mp3" />
    <audio id="gaa3" preload="none" src="/audio/gaa3.mp3" />
    <audio id="gaai1" preload="none" src="/audio/gaai1.mp3" />
    <audio id="gaai2" preload="none" src="/audio/gaai2.mp3" />
    <audio id="gaau3" preload="none" src="/audio/gaau3.mp3" />
    <audio id="gai3" preload="none" src="/audio/gai3.mp3" />
    <audio id="gam1" preload="none" src="/audio/gam1.mp3" />
    <audio id="gam2" preload="none" src="/audio/gam2.mp3" />
    <audio id="gan1" preload="none" src="/audio/gan1.mp3" />
    <audio id="gang3" preload="none" src="/audio/gang3.mp3" />
    <audio id="gat1" preload="none" src="/audio/gat1.mp3" />
    <audio id="gau3" preload="none" src="/audio/gau3.mp3" />
    <audio id="gei1" preload="none" src="/audio/gei1.mp3" />
    <audio id="gei2" preload="none" src="/audio/gei2.mp3" />
    <audio id="gei6" preload="none" src="/audio/gei6.mp3" />
    <audio id="gin3" preload="none" src="/audio/gin3.mp3" />
    <audio id="gin6" preload="none" src="/audio/gin6.mp3" />
    <audio id="ging1" preload="none" src="/audio/ging1.mp3" />
    <audio id="ging2" preload="none" src="/audio/ging2.mp3" />
    <audio id="ging6" preload="none" src="/audio/ging6.mp3" />
    <audio id="git3" preload="none" src="/audio/git3.mp3" />
    <audio id="go1" preload="none" src="/audio/go1.mp3" />
    <audio id="goek3" preload="none" src="/audio/goek3.mp3" />
    <audio id="goi1" preload="none" src="/audio/goi1.mp3" />
    <audio id="gok3" preload="none" src="/audio/gok3.mp3" />
    <audio id="gou1" preload="none" src="/audio/gou1.mp3" />
    <audio id="gun2" preload="none" src="/audio/gun2.mp3" />
    <audio id="gung1" preload="none" src="/audio/gung1.mp3" />
    <audio id="gung6" preload="none" src="/audio/gung6.mp3" />
    <audio id="gwaa3" preload="none" src="/audio/gwaa3.mp3" />
    <audio id="gwai1" preload="none" src="/audio/gwai1.mp3" />
    <audio id="gwo3" preload="none" src="/audio/gwo3.mp3" />
    <audio id="gyun6" preload="none" src="/audio/gyun6.mp3" />
    <audio id="haa5" preload="none" src="/audio/haa5.mp3" />
    <audio id="haa6" preload="none" src="/audio/haa6.mp3" />
    <audio id="haak3" preload="none" src="/audio/haak3.mp3" />
    <audio id="haau2" preload="none" src="/audio/haau2.mp3" />
    <audio id="han6" preload="none" src="/audio/han6.mp3" />
    <audio id="hang4" preload="none" src="/audio/hang4.mp3" />
    <audio id="hap6" preload="none" src="/audio/hap6.mp3" />
    <audio id="hau2" preload="none" src="/audio/hau2.mp3" />
    <audio id="hei2" preload="none" src="/audio/hei2.mp3" />
    <audio id="hei3" preload="none" src="/audio/hei3.mp3" />
    <audio id="heoi1" preload="none" src="/audio/heoi1.mp3" />
    <audio id="heoi3" preload="none" src="/audio/heoi3.mp3" />
    <audio id="hin1" preload="none" src="/audio/hin1.mp3" />
    <audio id="hing1" preload="none" src="/audio/hing1.mp3" />
    <audio id="hing3" preload="none" src="/audio/hing3.mp3" />
    <audio id="ho2" preload="none" src="/audio/ho2.mp3" />
    <audio id="ho4" preload="none" src="/audio/ho4.mp3" />
    <audio id="ho6" preload="none" src="/audio/ho6.mp3" />
    <audio id="hoeng3" preload="none" src="/audio/hoeng3.mp3" />
    <audio id="hoi1" preload="none" src="/audio/hoi1.mp3" />
    <audio id="hoi6" preload="none" src="/audio/hoi6.mp3" />
    <audio id="hon2" preload="none" src="/audio/hon2.mp3" />
    <audio id="hou2" preload="none" src="/audio/hou2.mp3" />
    <audio id="hyun3" preload="none" src="/audio/hyun3.mp3" />
    <audio id="jaa5" preload="none" src="/audio/jaa5.mp3" />
    <audio id="jam1" preload="none" src="/audio/jam1.mp3" />
    <audio id="jam2" preload="none" src="/audio/jam2.mp3" />
    <audio id="jam6" preload="none" src="/audio/jam6.mp3" />
    <audio id="jan1" preload="none" src="/audio/jan1.mp3" />
    <audio id="jan2" preload="none" src="/audio/jan2.mp3" />
    <audio id="jan4" preload="none" src="/audio/jan4.mp3" />
    <audio id="jap1" preload="none" src="/audio/jap1.mp3" />
    <audio id="jap6" preload="none" src="/audio/jap6.mp3" />
    <audio id="jat1" preload="none" src="/audio/jat1.mp3" />
    <audio id="jat6" preload="none" src="/audio/jat6.mp3" />
    <audio id="jau1" preload="none" src="/audio/jau1.mp3" />
    <audio id="jau4" preload="none" src="/audio/jau4.mp3" />
    <audio id="jau5" preload="none" src="/audio/jau5.mp3" />
    <audio id="jau6" preload="none" src="/audio/jau6.mp3" />
    <audio id="ji1" preload="none" src="/audio/ji1.mp3" />
    <audio id="ji3" preload="none" src="/audio/ji3.mp3" />
    <audio id="ji5" preload="none" src="/audio/ji5.mp3" />
    <audio id="jik6" preload="none" src="/audio/jik6.mp3" />
    <audio id="jim2" preload="none" src="/audio/jim2.mp3" />
    <audio id="jim4" preload="none" src="/audio/jim4.mp3" />
    <audio id="jim5" preload="none" src="/audio/jim5.mp3" />
    <audio id="jim6" preload="none" src="/audio/jim6.mp3" />
    <audio id="jin1" preload="none" src="/audio/jin1.mp3" />
    <audio id="jin6" preload="none" src="/audio/jin6.mp3" />
    <audio id="jing1" preload="none" src="/audio/jing1.mp3" />
    <audio id="jing4" preload="none" src="/audio/jing4.mp3" />
    <audio id="jip6" preload="none" src="/audio/jip6.mp3" />
    <audio id="jiu2" preload="none" src="/audio/jiu2.mp3" />
    <audio id="jiu3" preload="none" src="/audio/jiu3.mp3" />
    <audio id="jiu4" preload="none" src="/audio/jiu4.mp3" />
    <audio id="joek6" preload="none" src="/audio/joek6.mp3" />
    <audio id="joeng4" preload="none" src="/audio/joeng4.mp3" />
    <audio id="joeng6" preload="none" src="/audio/joeng6.mp3" />
    <audio id="jung2" preload="none" src="/audio/jung2.mp3" />
    <audio id="jung6" preload="none" src="/audio/jung6.mp3" />
    <audio id="jyu4" preload="none" src="/audio/jyu4.mp3" />
    <audio id="jyu5" preload="none" src="/audio/jyu5.mp3" />
    <audio id="jyu6" preload="none" src="/audio/jyu6.mp3" />
    <audio id="jyun3" preload="none" src="/audio/jyun3.mp3" />
    <audio id="jyun4" preload="none" src="/audio/jyun4.mp3" />
    <audio id="jyun5" preload="none" src="/audio/jyun5.mp3" />
    <audio id="jyun6" preload="none" src="/audio/jyun6.mp3" />
    <audio id="jyut6" preload="none" src="/audio/jyut6.mp3" />
    <audio id="kaau3" preload="none" src="/audio/kaau3.mp3" />
    <audio id="kam1" preload="none" src="/audio/kam1.mp3" />
    <audio id="kap1" preload="none" src="/audio/kap1.mp3" />
    <audio id="kau3" preload="none" src="/audio/kau3.mp3" />
    <audio id="kei1" preload="none" src="/audio/kei1.mp3" />
    <audio id="keoi1" preload="none" src="/audio/keoi1.mp3" />
    <audio id="keoi5" preload="none" src="/audio/keoi5.mp3" />
    <audio id="koek3" preload="none" src="/audio/koek3.mp3" />
    <audio id="koeng4" preload="none" src="/audio/koeng4.mp3" />
    <audio id="koi3" preload="none" src="/audio/koi3.mp3" />
    <audio id="kok3" preload="none" src="/audio/kok3.mp3" />
    <audio id="kwai1" preload="none" src="/audio/kwai1.mp3" />
    <audio id="kyut3" preload="none" src="/audio/kyut3.mp3" />
    <audio id="laa1" preload="none" src="/audio/laa1.mp3" />
    <audio id="laan4" preload="none" src="/audio/laan4.mp3" />
    <audio id="lai6" preload="none" src="/audio/lai6.mp3" />
    <audio id="lau1" preload="none" src="/audio/lau1.mp3" />
    <audio id="lau4" preload="none" src="/audio/lau4.mp3" />
    <audio id="lei5" preload="none" src="/audio/lei5.mp3" />
    <audio id="leoi5" preload="none" src="/audio/leoi5.mp3" />
    <audio id="leoi6" preload="none" src="/audio/leoi6.mp3" />
    <audio id="lin4" preload="none" src="/audio/lin4.mp3" />
    <audio id="lin6" preload="none" src="/audio/lin6.mp3" />
    <audio id="ling6" preload="none" src="/audio/ling6.mp3" />
    <audio id="liu5" preload="none" src="/audio/liu5.mp3" />
    <audio id="loeng4" preload="none" src="/audio/loeng4.mp3" />
    <audio id="loeng5" preload="none" src="/audio/loeng5.mp3" />
    <audio id="loeng6" preload="none" src="/audio/loeng6.mp3" />
    <audio id="loi4" preload="none" src="/audio/loi4.mp3" />
    <audio id="lok6" preload="none" src="/audio/lok6.mp3" />
    <audio id="long6" preload="none" src="/audio/long6.mp3" />
    <audio id="lou6" preload="none" src="/audio/lou6.mp3" />
    <audio id="lyun2" preload="none" src="/audio/lyun2.mp3" />
    <audio id="maa1" preload="none" src="/audio/maa1.mp3" />
    <audio id="maan5" preload="none" src="/audio/maan5.mp3" />
    <audio id="maan6" preload="none" src="/audio/maan6.mp3" />
    <audio id="mau4" preload="none" src="/audio/mau4.mp3" />
    <audio id="mei4" preload="none" src="/audio/mei4.mp3" />
    <audio id="mei5" preload="none" src="/audio/mei5.mp3" />
    <audio id="mei6" preload="none" src="/audio/mei6.mp3" />
    <audio id="min6" preload="none" src="/audio/min6.mp3" />
    <audio id="mo1" preload="none" src="/audio/mo1.mp3" />
    <audio id="mo4" preload="none" src="/audio/mo4.mp3" />
    <audio id="mong4" preload="none" src="/audio/mong4.mp3" />
    <audio id="mong6" preload="none" src="/audio/mong6.mp3" />
    <audio id="mou4" preload="none" src="/audio/mou4.mp3" />
    <audio id="mou5" preload="none" src="/audio/mou5.mp3" />
    <audio id="mou6" preload="none" src="/audio/mou6.mp3" />
    <audio id="mui5" preload="none" src="/audio/mui5.mp3" />
    <audio id="muk6" preload="none" src="/audio/muk6.mp3" />
    <audio id="mun5" preload="none" src="/audio/mun5.mp3" />
    <audio id="naa5" preload="none" src="/audio/naa5.mp3" />
    <audio id="naan4" preload="none" src="/audio/naan4.mp3" />
    <audio id="nang4" preload="none" src="/audio/nang4.mp3" />
    <audio id="nei5" preload="none" src="/audio/nei5.mp3" />
    <audio id="ngaan5" preload="none" src="/audio/ngaan5.mp3" />
    <audio id="ngaang6" preload="none" src="/audio/ngaang6.mp3" />
    <audio id="ngo5" preload="none" src="/audio/ngo5.mp3" />
    <audio id="nin4" preload="none" src="/audio/nin4.mp3" />
    <audio id="nyun5" preload="none" src="/audio/nyun5.mp3" />
    <audio id="oi1" preload="none" src="/audio/oi1.mp3" />
    <audio id="oi3" preload="none" src="/audio/oi3.mp3" />
    <audio id="paa3" preload="none" src="/audio/paa3.mp3" />
    <audio id="paau1" preload="none" src="/audio/paau1.mp3" />
    <audio id="pang4" preload="none" src="/audio/pang4.mp3" />
    <audio id="pei4" preload="none" src="/audio/pei4.mp3" />
    <audio id="pin1" preload="none" src="/audio/pin1.mp3" />
    <audio id="pou1" preload="none" src="/audio/pou1.mp3" />
    <audio id="pou5" preload="none" src="/audio/pou5.mp3" />
    <audio id="saa2" preload="none" src="/audio/saa2.mp3" />
    <audio id="saan1" preload="none" src="/audio/saan1.mp3" />
    <audio id="sai3" preload="none" src="/audio/sai3.mp3" />
    <audio id="sam1" preload="none" src="/audio/sam1.mp3" />
    <audio id="san1" preload="none" src="/audio/san1.mp3" />
    <audio id="san4" preload="none" src="/audio/san4.mp3" />
    <audio id="sang1" preload="none" src="/audio/sang1.mp3" />
    <audio id="sat1" preload="none" src="/audio/sat1.mp3" />
    <audio id="sau2" preload="none" src="/audio/sau2.mp3" />
    <audio id="sau3" preload="none" src="/audio/sau3.mp3" />
    <audio id="sau4" preload="none" src="/audio/sau4.mp3" />
    <audio id="sau6" preload="none" src="/audio/sau6.mp3" />
    <audio id="sek6" preload="none" src="/audio/sek6.mp3" />
    <audio id="seng1" preload="none" src="/audio/seng1.mp3" />
    <audio id="seoi1" preload="none" src="/audio/seoi1.mp3" />
    <audio id="seoi3" preload="none" src="/audio/seoi3.mp3" />
    <audio id="seoi4" preload="none" src="/audio/seoi4.mp3" />
    <audio id="seon3" preload="none" src="/audio/seon3.mp3" />
    <audio id="si1" preload="none" src="/audio/si1.mp3" />
    <audio id="si3" preload="none" src="/audio/si3.mp3" />
    <audio id="si6" preload="none" src="/audio/si6.mp3" />
    <audio id="sin1" preload="none" src="/audio/sin1.mp3" />
    <audio id="sing1" preload="none" src="/audio/sing1.mp3" />
    <audio id="sing4" preload="none" src="/audio/sing4.mp3" />
    <audio id="siu2" preload="none" src="/audio/siu2.mp3" />
    <audio id="siu3" preload="none" src="/audio/siu3.mp3" />
    <audio id="so2" preload="none" src="/audio/so2.mp3" />
    <audio id="soeng1" preload="none" src="/audio/soeng1.mp3" />
    <audio id="soeng2" preload="none" src="/audio/soeng2.mp3" />
    <audio id="sung1" preload="none" src="/audio/sung1.mp3" />
    <audio id="sung3" preload="none" src="/audio/sung3.mp3" />
    <audio id="syun1" preload="none" src="/audio/syun1.mp3" />
    <audio id="syun2" preload="none" src="/audio/syun2.mp3" />
    <audio id="syun3" preload="none" src="/audio/syun3.mp3" />
    <audio id="syun4" preload="none" src="/audio/syun4.mp3" />
    <audio id="syut3" preload="none" src="/audio/syut3.mp3" />
    <audio id="taa1" preload="none" src="/audio/taa1.mp3" />
    <audio id="taai3" preload="none" src="/audio/taai3.mp3" />
    <audio id="tai2" preload="none" src="/audio/tai2.mp3" />
    <audio id="tau4" preload="none" src="/audio/tau4.mp3" />
    <audio id="teng1" preload="none" src="/audio/teng1.mp3" />
    <audio id="teoi1" preload="none" src="/audio/teoi1.mp3" />
    <audio id="tin1" preload="none" src="/audio/tin1.mp3" />
    <audio id="tip3" preload="none" src="/audio/tip3.mp3" />
    <audio id="tou4" preload="none" src="/audio/tou4.mp3" />
    <audio id="tung3" preload="none" src="/audio/tung3.mp3" />
    <audio id="waa6" preload="none" src="/audio/waa6.mp3" />
    <audio id="waak6" preload="none" src="/audio/waak6.mp3" />
    <audio id="waan4" preload="none" src="/audio/waan4.mp3" />
    <audio id="wai2" preload="none" src="/audio/wai2.mp3" />
    <audio id="wai6" preload="none" src="/audio/wai6.mp3" />
    <audio id="wan2" preload="none" src="/audio/wan2.mp3" />
    <audio id="wing4" preload="none" src="/audio/wing4.mp3" />
    <audio id="wing5" preload="none" src="/audio/wing5.mp3" />
    <audio id="wok6" preload="none" src="/audio/wok6.mp3" />
    <audio id="wong5" preload="none" src="/audio/wong5.mp3" />
    <audio id="wu1" preload="none" src="/audio/wu1.mp3" />
    <audio id="wui4" preload="none" src="/audio/wui4.mp3" />
    <audio id="wui5" preload="none" src="/audio/wui5.mp3" />
    <audio id="wun2" preload="none" src="/audio/wun2.mp3" />
    <audio id="wut6" preload="none" src="/audio/wut6.mp3" />
    <audio id="zaau2" preload="none" src="/audio/zaau2.mp3" />
    <audio id="zam2" preload="none" src="/audio/zam2.mp3" />
    <audio id="zang1" preload="none" src="/audio/zang1.mp3" />
    <audio id="zang6" preload="none" src="/audio/zang6.mp3" />
    <audio id="zat6" preload="none" src="/audio/zat6.mp3" />
    <audio id="zau1" preload="none" src="/audio/zau1.mp3" />
    <audio id="zau2" preload="none" src="/audio/zau2.mp3" />
    <audio id="zau3" preload="none" src="/audio/zau3.mp3" />
    <audio id="zau6" preload="none" src="/audio/zau6.mp3" />
    <audio id="ze5" preload="none" src="/audio/ze5.mp3" />
    <audio id="zek3" preload="none" src="/audio/zek3.mp3" />
    <audio id="zeon2" preload="none" src="/audio/zeon2.mp3" />
    <audio id="zi1" preload="none" src="/audio/zi1.mp3" />
    <audio id="zi2" preload="none" src="/audio/zi2.mp3" />
    <audio id="zi6" preload="none" src="/audio/zi6.mp3" />
    <audio id="zik1" preload="none" src="/audio/zik1.mp3" />
    <audio id="zing3" preload="none" src="/audio/zing3.mp3" />
    <audio id="zip3" preload="none" src="/audio/zip3.mp3" />
    <audio id="zit3" preload="none" src="/audio/zit3.mp3" />
    <audio id="ziu1" preload="none" src="/audio/ziu1.mp3" />
    <audio id="ziu3" preload="none" src="/audio/ziu3.mp3" />
    <audio id="zoek6" preload="none" src="/audio/zoek6.mp3" />
    <audio id="zoeng1" preload="none" src="/audio/zoeng1.mp3" />
    <audio id="zoeng6" preload="none" src="/audio/zoeng6.mp3" />
    <audio id="zoi3" preload="none" src="/audio/zoi3.mp3" />
    <audio id="zoi6" preload="none" src="/audio/zoi6.mp3" />
    <audio id="zong3" preload="none" src="/audio/zong3.mp3" />
    <audio id="zou2" preload="none" src="/audio/zou2.mp3" />
    <audio id="zuk1" preload="none" src="/audio/zuk1.mp3" />
    <audio id="zung1" preload="none" src="/audio/zung1.mp3" />
    <audio id="zung2" preload="none" src="/audio/zung2.mp3" />
    <audio id="zung3" preload="none" src="/audio/zung3.mp3" />
    <audio id="zyun3" preload="none" src="/audio/zyun3.mp3" />
    <audio id="zyut6" preload="none" src="/audio/zyut6.mp3" />
</docaudio>