<docaudio>
    <audio id="aa3" src="/audio/aa3.mp3" />
    <audio id="baa1" src="/audio/baa1.mp3" />
    <audio id="baa2" src="/audio/baa2.mp3" />
    <audio id="baak3" src="/audio/baak3.mp3" />
    <audio id="bat1" src="/audio/bat1.mp3" />
    <audio id="bei1" src="/audio/bei1.mp3" />
    <audio id="bei2" src="/audio/bei2.mp3" />
    <audio id="bin1" src="/audio/bin1.mp3" />
    <audio id="bin6" src="/audio/bin6.mp3" />
    <audio id="bing6" src="/audio/bing6.mp3" />
    <audio id="bit1" src="/audio/bit1.mp3" />
    <audio id="biu1" src="/audio/biu1.mp3" />
    <audio id="bou3" src="/audio/bou3.mp3" />
    <audio id="bou6" src="/audio/bou6.mp3" />
    <audio id="bun6" src="/audio/bun6.mp3" />
    <audio id="cai4" src="/audio/cai4.mp3" />
    <audio id="can1" src="/audio/can1.mp3" />
    <audio id="can4" src="/audio/can4.mp3" />
    <audio id="cang4" src="/audio/cang4.mp3" />
    <audio id="ce1" src="/audio/ce1.mp3" />
    <audio id="ceoi1" src="/audio/ceoi1.mp3" />
    <audio id="ceoi2" src="/audio/ceoi2.mp3" />
    <audio id="ceoi4" src="/audio/ceoi4.mp3" />
    <audio id="ceon1" src="/audio/ceon1.mp3" />
    <audio id="ci2" src="/audio/ci2.mp3" />
    <audio id="ci5" src="/audio/ci5.mp3" />
    <audio id="cin2" src="/audio/cin2.mp3" />
    <audio id="cin4" src="/audio/cin4.mp3" />
    <audio id="cing4" src="/audio/cing4.mp3" />
    <audio id="cit3" src="/audio/cit3.mp3" />
    <audio id="coeng3" src="/audio/coeng3.mp3" />
    <audio id="coeng4" src="/audio/coeng4.mp3" />
    <audio id="coi4" src="/audio/coi4.mp3" />
    <audio id="cung1" src="/audio/cung1.mp3" />
    <audio id="cyun1" src="/audio/cyun1.mp3" />
    <audio id="daai6" src="/audio/daai6.mp3" />
    <audio id="dak1" src="/audio/dak1.mp3" />
    <audio id="dang2" src="/audio/dang2.mp3" />
    <audio id="dau3" src="/audio/dau3.mp3" />
    <audio id="dei6" src="/audio/dei6.mp3" />
    <audio id="dik1" src="/audio/dik1.mp3" />
    <audio id="dim2" src="/audio/dim2.mp3" />
    <audio id="diu6" src="/audio/diu6.mp3" />
    <audio id="do1" src="/audio/do1.mp3" />
    <audio id="doi6" src="/audio/doi6.mp3" />
    <audio id="dou1" src="/audio/dou1.mp3" />
    <audio id="dou2" src="/audio/dou2.mp3" />
    <audio id="dou3" src="/audio/dou3.mp3" />
    <audio id="dung1" src="/audio/dung1.mp3" />
    <audio id="dung2" src="/audio/dung2.mp3" />
    <audio id="dung3" src="/audio/dung3.mp3" />
    <audio id="dyun1" src="/audio/dyun1.mp3" />
    <audio id="dyun2" src="/audio/dyun2.mp3" />
    <audio id="dyun6" src="/audio/dyun6.mp3" />
    <audio id="faa1" src="/audio/faa1.mp3" />
    <audio id="faa3" src="/audio/faa3.mp3" />
    <audio id="faai3" src="/audio/faai3.mp3" />
    <audio id="faan2" src="/audio/faan2.mp3" />
    <audio id="faat3" src="/audio/faat3.mp3" />
    <audio id="fan4" src="/audio/fan4.mp3" />
    <audio id="fei1" src="/audio/fei1.mp3" />
    <audio id="fo2" src="/audio/fo2.mp3" />
    <audio id="fong3" src="/audio/fong3.mp3" />
    <audio id="fu1" src="/audio/fu1.mp3" />
    <audio id="fu2" src="/audio/fu2.mp3" />
    <audio id="fu3" src="/audio/fu3.mp3" />
    <audio id="fu5" src="/audio/fu5.mp3" />
    <audio id="fuk1" src="/audio/fuk1.mp3" />
    <audio id="fun1" src="/audio/fun1.mp3" />
    <audio id="fung1" src="/audio/fung1.mp3" />
    <audio id="gaa1" src="/audio/gaa1.mp3" />
    <audio id="gaa2" src="/audio/gaa2.mp3" />
    <audio id="gaa3" src="/audio/gaa3.mp3" />
    <audio id="gaai1" src="/audio/gaai1.mp3" />
    <audio id="gaai2" src="/audio/gaai2.mp3" />
    <audio id="gaau3" src="/audio/gaau3.mp3" />
    <audio id="gai3" src="/audio/gai3.mp3" />
    <audio id="gam1" src="/audio/gam1.mp3" />
    <audio id="gam2" src="/audio/gam2.mp3" />
    <audio id="gan1" src="/audio/gan1.mp3" />
    <audio id="gang1" src="/audio/gang1.mp3" />
    <audio id="gat1" src="/audio/gat1.mp3" />
    <audio id="gau3" src="/audio/gau3.mp3" />
    <audio id="gei1" src="/audio/gei1.mp3" />
    <audio id="gei2" src="/audio/gei2.mp3" />
    <audio id="gei6" src="/audio/gei6.mp3" />
    <audio id="gin3" src="/audio/gin3.mp3" />
    <audio id="gin6" src="/audio/gin6.mp3" />
    <audio id="ging1" src="/audio/ging1.mp3" />
    <audio id="ging2" src="/audio/ging2.mp3" />
    <audio id="ging6" src="/audio/ging6.mp3" />
    <audio id="git3" src="/audio/git3.mp3" />
    <audio id="go1" src="/audio/go1.mp3" />
    <audio id="goek3" src="/audio/goek3.mp3" />
    <audio id="goi1" src="/audio/goi1.mp3" />
    <audio id="gok3" src="/audio/gok3.mp3" />
    <audio id="gou1" src="/audio/gou1.mp3" />
    <audio id="gun2" src="/audio/gun2.mp3" />
    <audio id="gung1" src="/audio/gung1.mp3" />
    <audio id="gung6" src="/audio/gung6.mp3" />
    <audio id="gwaa3" src="/audio/gwaa3.mp3" />
    <audio id="gwai1" src="/audio/gwai1.mp3" />
    <audio id="gwo3" src="/audio/gwo3.mp3" />
    <audio id="gyun6" src="/audio/gyun6.mp3" />
    <audio id="haa5" src="/audio/haa5.mp3" />
    <audio id="haa6" src="/audio/haa6.mp3" />
    <audio id="haak3" src="/audio/haak3.mp3" />
    <audio id="haau2" src="/audio/haau2.mp3" />
    <audio id="han6" src="/audio/han6.mp3" />
    <audio id="hang4" src="/audio/hang4.mp3" />
    <audio id="hap6" src="/audio/hap6.mp3" />
    <audio id="hau2" src="/audio/hau2.mp3" />
    <audio id="hei2" src="/audio/hei2.mp3" />
    <audio id="hei3" src="/audio/hei3.mp3" />
    <audio id="heoi1" src="/audio/heoi1.mp3" />
    <audio id="heoi3" src="/audio/heoi3.mp3" />
    <audio id="hin1" src="/audio/hin1.mp3" />
    <audio id="hing1" src="/audio/hing1.mp3" />
    <audio id="hing3" src="/audio/hing3.mp3" />
    <audio id="ho2" src="/audio/ho2.mp3" />
    <audio id="ho4" src="/audio/ho4.mp3" />
    <audio id="ho6" src="/audio/ho6.mp3" />
    <audio id="hoeng3" src="/audio/hoeng3.mp3" />
    <audio id="hoi1" src="/audio/hoi1.mp3" />
    <audio id="hoi6" src="/audio/hoi6.mp3" />
    <audio id="hon2" src="/audio/hon2.mp3" />
    <audio id="hou2" src="/audio/hou2.mp3" />
    <audio id="hyun3" src="/audio/hyun3.mp3" />
    <audio id="jaa5" src="/audio/jaa5.mp3" />
    <audio id="jam1" src="/audio/jam1.mp3" />
    <audio id="jam2" src="/audio/jam2.mp3" />
    <audio id="jam6" src="/audio/jam6.mp3" />
    <audio id="jan1" src="/audio/jan1.mp3" />
    <audio id="jan2" src="/audio/jan2.mp3" />
    <audio id="jan4" src="/audio/jan4.mp3" />
    <audio id="jap1" src="/audio/jap1.mp3" />
    <audio id="jap6" src="/audio/jap6.mp3" />
    <audio id="jat1" src="/audio/jat1.mp3" />
    <audio id="jat6" src="/audio/jat6.mp3" />
    <audio id="jau1" src="/audio/jau1.mp3" />
    <audio id="jau4" src="/audio/jau4.mp3" />
    <audio id="jau5" src="/audio/jau5.mp3" />
    <audio id="jau6" src="/audio/jau6.mp3" />
    <audio id="ji1" src="/audio/ji1.mp3" />
    <audio id="ji3" src="/audio/ji3.mp3" />
    <audio id="ji5" src="/audio/ji5.mp3" />
    <audio id="jik6" src="/audio/jik6.mp3" />
    <audio id="jim2" src="/audio/jim2.mp3" />
    <audio id="jim4" src="/audio/jim4.mp3" />
    <audio id="jim5" src="/audio/jim5.mp3" />
    <audio id="jim6" src="/audio/jim6.mp3" />
    <audio id="jin1" src="/audio/jin1.mp3" />
    <audio id="jin6" src="/audio/jin6.mp3" />
    <audio id="jing1" src="/audio/jing1.mp3" />
    <audio id="jing4" src="/audio/jing4.mp3" />
    <audio id="jip6" src="/audio/jip6.mp3" />
    <audio id="jiu2" src="/audio/jiu2.mp3" />
    <audio id="jiu3" src="/audio/jiu3.mp3" />
    <audio id="jiu4" src="/audio/jiu4.mp3" />
    <audio id="joek6" src="/audio/joek6.mp3" />
    <audio id="joeng4" src="/audio/joeng4.mp3" />
    <audio id="joeng6" src="/audio/joeng6.mp3" />
    <audio id="jung2" src="/audio/jung2.mp3" />
    <audio id="jung6" src="/audio/jung6.mp3" />
    <audio id="jyu4" src="/audio/jyu4.mp3" />
    <audio id="jyu5" src="/audio/jyu5.mp3" />
    <audio id="jyu6" src="/audio/jyu6.mp3" />
    <audio id="jyun3" src="/audio/jyun3.mp3" />
    <audio id="jyun4" src="/audio/jyun4.mp3" />
    <audio id="jyun5" src="/audio/jyun5.mp3" />
    <audio id="jyun6" src="/audio/jyun6.mp3" />
    <audio id="jyut6" src="/audio/jyut6.mp3" />
    <audio id="kaau3" src="/audio/kaau3.mp3" />
    <audio id="kam1" src="/audio/kam1.mp3" />
    <audio id="kap1" src="/audio/kap1.mp3" />
    <audio id="kau3" src="/audio/kau3.mp3" />
    <audio id="kei1" src="/audio/kei1.mp3" />
    <audio id="keoi1" src="/audio/keoi1.mp3" />
    <audio id="keoi5" src="/audio/keoi5.mp3" />
    <audio id="koek3" src="/audio/koek3.mp3" />
    <audio id="koeng4" src="/audio/koeng4.mp3" />
    <audio id="koi3" src="/audio/koi3.mp3" />
    <audio id="kok3" src="/audio/kok3.mp3" />
    <audio id="kwai1" src="/audio/kwai1.mp3" />
    <audio id="kyut3" src="/audio/kyut3.mp3" />
    <audio id="laa1" src="/audio/laa1.mp3" />
    <audio id="laan4" src="/audio/laan4.mp3" />
    <audio id="lai6" src="/audio/lai6.mp3" />
    <audio id="lau1" src="/audio/lau1.mp3" />
    <audio id="lau4" src="/audio/lau4.mp3" />
    <audio id="lei5" src="/audio/lei5.mp3" />
    <audio id="leoi5" src="/audio/leoi5.mp3" />
    <audio id="leoi6" src="/audio/leoi6.mp3" />
    <audio id="lin4" src="/audio/lin4.mp3" />
    <audio id="lin6" src="/audio/lin6.mp3" />
    <audio id="ling6" src="/audio/ling6.mp3" />
    <audio id="liu5" src="/audio/liu5.mp3" />
    <audio id="loeng4" src="/audio/loeng4.mp3" />
    <audio id="loeng5" src="/audio/loeng5.mp3" />
    <audio id="loeng6" src="/audio/loeng6.mp3" />
    <audio id="loi4" src="/audio/loi4.mp3" />
    <audio id="lok6" src="/audio/lok6.mp3" />
    <audio id="long6" src="/audio/long6.mp3" />
    <audio id="lou6" src="/audio/lou6.mp3" />
    <audio id="lyun2" src="/audio/lyun2.mp3" />
    <audio id="maa1" src="/audio/maa1.mp3" />
    <audio id="maan5" src="/audio/maan5.mp3" />
    <audio id="maan6" src="/audio/maan6.mp3" />
    <audio id="mau4" src="/audio/mau4.mp3" />
    <audio id="mei4" src="/audio/mei4.mp3" />
    <audio id="mei5" src="/audio/mei5.mp3" />
    <audio id="mei6" src="/audio/mei6.mp3" />
    <audio id="min6" src="/audio/min6.mp3" />
    <audio id="mo1" src="/audio/mo1.mp3" />
    <audio id="mo4" src="/audio/mo4.mp3" />
    <audio id="mong4" src="/audio/mong4.mp3" />
    <audio id="mong6" src="/audio/mong6.mp3" />
    <audio id="mou4" src="/audio/mou4.mp3" />
    <audio id="mou5" src="/audio/mou5.mp3" />
    <audio id="mou6" src="/audio/mou6.mp3" />
    <audio id="mui5" src="/audio/mui5.mp3" />
    <audio id="muk6" src="/audio/muk6.mp3" />
    <audio id="mun5" src="/audio/mun5.mp3" />
    <audio id="naa5" src="/audio/naa5.mp3" />
    <audio id="naan4" src="/audio/naan4.mp3" />
    <audio id="nang4" src="/audio/nang4.mp3" />
    <audio id="nei5" src="/audio/nei5.mp3" />
    <audio id="ngaan5" src="/audio/ngaan5.mp3" />
    <audio id="ngaang6" src="/audio/ngaang6.mp3" />
    <audio id="ngo5" src="/audio/ngo5.mp3" />
    <audio id="nin4" src="/audio/nin4.mp3" />
    <audio id="nyun5" src="/audio/nyun5.mp3" />
    <audio id="oi1" src="/audio/oi1.mp3" />
    <audio id="oi3" src="/audio/oi3.mp3" />
    <audio id="paa3" src="/audio/paa3.mp3" />
    <audio id="paau1" src="/audio/paau1.mp3" />
    <audio id="pang4" src="/audio/pang4.mp3" />
    <audio id="pei4" src="/audio/pei4.mp3" />
    <audio id="pin1" src="/audio/pin1.mp3" />
    <audio id="pou1" src="/audio/pou1.mp3" />
    <audio id="pou5" src="/audio/pou5.mp3" />
    <audio id="saa2" src="/audio/saa2.mp3" />
    <audio id="saan1" src="/audio/saan1.mp3" />
    <audio id="sai3" src="/audio/sai3.mp3" />
    <audio id="sam1" src="/audio/sam1.mp3" />
    <audio id="san1" src="/audio/san1.mp3" />
    <audio id="san4" src="/audio/san4.mp3" />
    <audio id="sang1" src="/audio/sang1.mp3" />
    <audio id="sat1" src="/audio/sat1.mp3" />
    <audio id="sau2" src="/audio/sau2.mp3" />
    <audio id="sau3" src="/audio/sau3.mp3" />
    <audio id="sau4" src="/audio/sau4.mp3" />
    <audio id="sau6" src="/audio/sau6.mp3" />
    <audio id="sek6" src="/audio/sek6.mp3" />
    <audio id="seng1" src="/audio/seng1.mp3" />
    <audio id="seoi1" src="/audio/seoi1.mp3" />
    <audio id="seoi3" src="/audio/seoi3.mp3" />
    <audio id="seoi4" src="/audio/seoi4.mp3" />
    <audio id="seon3" src="/audio/seon3.mp3" />
    <audio id="si1" src="/audio/si1.mp3" />
    <audio id="si3" src="/audio/si3.mp3" />
    <audio id="si6" src="/audio/si6.mp3" />
    <audio id="sin1" src="/audio/sin1.mp3" />
    <audio id="sing1" src="/audio/sing1.mp3" />
    <audio id="sing4" src="/audio/sing4.mp3" />
    <audio id="siu2" src="/audio/siu2.mp3" />
    <audio id="siu3" src="/audio/siu3.mp3" />
    <audio id="so2" src="/audio/so2.mp3" />
    <audio id="soeng1" src="/audio/soeng1.mp3" />
    <audio id="soeng2" src="/audio/soeng2.mp3" />
    <audio id="sung1" src="/audio/sung1.mp3" />
    <audio id="sung3" src="/audio/sung3.mp3" />
    <audio id="syun1" src="/audio/syun1.mp3" />
    <audio id="syun2" src="/audio/syun2.mp3" />
    <audio id="syun3" src="/audio/syun3.mp3" />
    <audio id="syun4" src="/audio/syun4.mp3" />
    <audio id="syut3" src="/audio/syut3.mp3" />
    <audio id="taa1" src="/audio/taa1.mp3" />
    <audio id="taai3" src="/audio/taai3.mp3" />
    <audio id="tai2" src="/audio/tai2.mp3" />
    <audio id="tau4" src="/audio/tau4.mp3" />
    <audio id="teng1" src="/audio/teng1.mp3" />
    <audio id="teoi1" src="/audio/teoi1.mp3" />
    <audio id="tin1" src="/audio/tin1.mp3" />
    <audio id="tip3" src="/audio/tip3.mp3" />
    <audio id="tou4" src="/audio/tou4.mp3" />
    <audio id="tung3" src="/audio/tung3.mp3" />
    <audio id="waa6" src="/audio/waa6.mp3" />
    <audio id="waak6" src="/audio/waak6.mp3" />
    <audio id="waan4" src="/audio/waan4.mp3" />
    <audio id="wai2" src="/audio/wai2.mp3" />
    <audio id="wai6" src="/audio/wai6.mp3" />
    <audio id="wan2" src="/audio/wan2.mp3" />
    <audio id="wing4" src="/audio/wing4.mp3" />
    <audio id="wing5" src="/audio/wing5.mp3" />
    <audio id="wok6" src="/audio/wok6.mp3" />
    <audio id="wong5" src="/audio/wong5.mp3" />
    <audio id="wu1" src="/audio/wu1.mp3" />
    <audio id="wui4" src="/audio/wui4.mp3" />
    <audio id="wui5" src="/audio/wui5.mp3" />
    <audio id="wun2" src="/audio/wun2.mp3" />
    <audio id="wut6" src="/audio/wut6.mp3" />
    <audio id="zaau2" src="/audio/zaau2.mp3" />
    <audio id="zam2" src="/audio/zam2.mp3" />
    <audio id="zang1" src="/audio/zang1.mp3" />
    <audio id="zang6" src="/audio/zang6.mp3" />
    <audio id="zat6" src="/audio/zat6.mp3" />
    <audio id="zau1" src="/audio/zau1.mp3" />
    <audio id="zau2" src="/audio/zau2.mp3" />
    <audio id="zau3" src="/audio/zau3.mp3" />
    <audio id="zau6" src="/audio/zau6.mp3" />
    <audio id="ze5" src="/audio/ze5.mp3" />
    <audio id="zek3" src="/audio/zek3.mp3" />
    <audio id="zeon2" src="/audio/zeon2.mp3" />
    <audio id="zi1" src="/audio/zi1.mp3" />
    <audio id="zi2" src="/audio/zi2.mp3" />
    <audio id="zi6" src="/audio/zi6.mp3" />
    <audio id="zik1" src="/audio/zik1.mp3" />
    <audio id="zing3" src="/audio/zing3.mp3" />
    <audio id="zip3" src="/audio/zip3.mp3" />
    <audio id="zit3" src="/audio/zit3.mp3" />
    <audio id="ziu1" src="/audio/ziu1.mp3" />
    <audio id="ziu3" src="/audio/ziu3.mp3" />
    <audio id="zoek3" src="/audio/zoek3.mp3" />
    <audio id="zoeng1" src="/audio/zoeng1.mp3" />
    <audio id="zoeng6" src="/audio/zoeng6.mp3" />
    <audio id="zoi3" src="/audio/zoi3.mp3" />
    <audio id="zoi6" src="/audio/zoi6.mp3" />
    <audio id="zong3" src="/audio/zong3.mp3" />
    <audio id="zou2" src="/audio/zou2.mp3" />
    <audio id="zuk1" src="/audio/zuk1.mp3" />
    <audio id="zung1" src="/audio/zung1.mp3" />
    <audio id="zung2" src="/audio/zung2.mp3" />
    <audio id="zung3" src="/audio/zung3.mp3" />
    <audio id="zyun3" src="/audio/zyun3.mp3" />
    <audio id="zyut6" src="/audio/zyut6.mp3" />
</docaudio>