<docaudio>
    <audio id="11" src="/audio/11.mp3" />
    <audio id="12" src="/audio/12.mp3" />
    <audio id="13" src="/audio/13.mp3" />
    <audio id="14" src="/audio/14.mp3" />
    <audio id="15" src="/audio/15.mp3" />
    <audio id="16" src="/audio/16.mp3" />
    <audio id="21" src="/audio/21.mp3" />
    <audio id="22" src="/audio/22.mp3" />
    <audio id="23" src="/audio/23.mp3" />
    <audio id="24" src="/audio/24.mp3" />
    <audio id="25" src="/audio/25.mp3" />
    <audio id="26" src="/audio/26.mp3" />
    <audio id="31" src="/audio/31.mp3" />
    <audio id="32" src="/audio/32.mp3" />
    <audio id="33" src="/audio/33.mp3" />
    <audio id="34" src="/audio/34.mp3" />
    <audio id="35" src="/audio/35.mp3" />
    <audio id="36" src="/audio/36.mp3" />
    <audio id="41" src="/audio/41.mp3" />
    <audio id="42" src="/audio/42.mp3" />
    <audio id="43" src="/audio/43.mp3" />
    <audio id="44" src="/audio/44.mp3" />
    <audio id="45" src="/audio/45.mp3" />
    <audio id="46" src="/audio/46.mp3" />
    <audio id="51" src="/audio/51.mp3" />
    <audio id="52" src="/audio/52.mp3" />
    <audio id="53" src="/audio/53.mp3" />
    <audio id="54" src="/audio/54.mp3" />
    <audio id="55" src="/audio/55.mp3" />
    <audio id="56" src="/audio/56.mp3" />
    <audio id="61" src="/audio/61.mp3" />
    <audio id="62" src="/audio/62.mp3" />
    <audio id="63" src="/audio/63.mp3" />
    <audio id="64" src="/audio/64.mp3" />
    <audio id="65" src="/audio/65.mp3" />
    <audio id="66" src="/audio/66.mp3" />
</docaudio>