+++
title = "粵拼速成"
linkTitle = "粵拼速成"
+++

{{< blocks/cover title="粵拼速成" image_anchor="middle" height="full" color="orange" >}}
<div class="col">
	<p class="lead">默認你只會普通話拼音（《漢語拼音方案》）</p>
	<p class="lead">讀完一文掌握粵拼</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-success mr-3 mb-4" href="{{< relref "/docs/cantonese" >}}">
		我識粵語 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question-circle" title="你會講粵語嗎" %}}
<p>讀完一文即可掌握粵拼</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-danger mr-3 mb-4" href="{{< relref "/docs/mandarin" >}}">
		我只會普通話 / 國語 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}
