@import "tailwindcss";

* {
  scroll-margin-top: 5rem;
}

article {
  table {
    @apply border-collapse border border-gray-300 my-4;
  }

  th,
  td {
    @apply border border-gray-300 px-2 xl:px-4 py-2 max-md:text-center text-left;
  }

  th {
    @apply bg-gray-100 font-semibold;
  }

  ul {
    @apply list-disc list-inside my-4 space-y-1 pl-5;
  }

  ol {
    @apply list-decimal list-inside my-4 space-y-1 pl-5;
  }

  li {
    @apply mb-1;
  }

  p {
    @apply my-4;
  }

  a {
    @apply text-blue-600 hover:text-blue-800 underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 mb-3 font-semibold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl border-b pb-1;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@utility auto-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(min(--spacing(--value(integer)), 100%), 1fr));
  grid-template-columns: repeat(auto-fill, minmax(min(--value([length], [percentage]), 100%), 1fr));
}

@utility auto-fit-* {
  grid-template-columns: repeat(auto-fit, minmax(min(--spacing(--value(integer)), 100%), 1fr));
  grid-template-columns: repeat(auto-fit, minmax(min(--value([length], [percentage]), 100%), 1fr));
}
