@import "tailwindcss";

@layer base {
  :root {
    --fallback-fonts:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  * {
    scroll-margin-top: 5rem;
  }

  html {
    background-size: 224px;
    font-family: var(--fallback-fonts);
  }

  html:not(:lang(ja)),
  html :not(:lang(ja)) {
    font-family: var(--font-chiron-hei-hk-ws), var(--fallback-fonts);
  }

  html:lang(ja),
  html :lang(ja) {
    font-family:
      var(--font-noto-sans-jp),
      var(--font-chiron-hei-hk-ws),
      var(--fallback-fonts);
  }

  html .font-jyutping {
    font-family:
      var(--font-chiron-hei-hk-jyutping),
      var(--font-chiron-hei-hk-ws),
      var(--fallback-fonts);
  }

  article {
    table {
      @apply border-collapse border border-gray-300 my-4;
    }

    th,
    td {
      @apply border border-gray-300 px-2 xl:px-4 py-2 max-md:text-center text-left;
    }

    th {
      @apply bg-gray-100 font-semibold;
    }

    ul {
      @apply list-disc my-4 space-y-1 pl-9;
    }

    ol {
      @apply list-decimal my-4 space-y-1 pl-9;
    }

    li {
      @apply mb-1 pl-1;
    }

    p {
      @apply my-4;
    }

    a {
      @apply text-blue-600 hover:text-blue-800 underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-6 mb-3 font-semibold;
    }
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl border-b pb-1;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
  }
}

@keyframes slide-left-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-30px);
    opacity: 0;
  }
}

@keyframes slide-right-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

::view-transition-old(root) {
  animation: slide-left-out 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
}

::view-transition-new(root) {
  animation: slide-right-in 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
}

@utility auto-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(min(--spacing(--value(integer)), 100%), 1fr));
  grid-template-columns: repeat(auto-fill, minmax(min(--value([length], [percentage]), 100%), 1fr));
}

@utility auto-fit-* {
  grid-template-columns: repeat(auto-fit, minmax(min(--spacing(--value(integer)), 100%), 1fr));
  grid-template-columns: repeat(auto-fit, minmax(min(--value([length], [percentage]), 100%), 1fr));
}
