---
import { IconBrandGithub, IconKeyboard, IconMail } from "@tabler/icons-react";

interface Props {
  kind: "github" | "keyboard" | "mail";
}

const { kind } = Astro.props;

const iconByKind = {
  github: IconBrandGithub,
  keyboard: IconKeyboard,
  mail: IconMail,
};

const Icon = iconByKind[kind];
---

<li class="flex items-start">
  <Icon size="1.25rem" class="mt-1 mr-3 flex-shrink-0 text-gray-500" />
  <div class="min-w-0">
    <slot />
  </div>
</li>
