---
title: Cantonese Keyboard
linkTitle: Cantonese Keyboard
url: "/en/keyboard"
menu:
  main:
    weight: 4
---


{{< blocks/cover title="Cantonese Keyboard" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Jyutping keyboard by Sogou is coming soon.
</p>

{{< /blocks/cover >}}



{{< blocks/section >}}

{{% blocks/feature icon="fa" title="" %}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-light mr-3 mb-4"
		href="https://play.google.com/store/apps/details?id=com.google.android.inputmethod.latin&hl=en_US">
		<i class="fab fa-google-play ml-2"></i> Install Gboard
	</a>
	<p>Gboard Jyutping only supports Android.</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="Besides Sogou, Jyutping is also supported by Gboard and Rime." %}}
<div class="col-12">
	<h1 class="text-center"></h1>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-secondary mr-3 mb-4" href="https://github.com/rime/rime-cantonese/releases">
		<i class="fas fa-download ml-2"></i> Install Rime Jyutping
	</a>
	<p>Rime Jyutping supports all platforms (Windows, macOS, Linux, iOS, Android).</p>
</div>
{{% /blocks/feature %}}

{{< /blocks/section >}}