---
import BaseLayout from "@/layouts/BaseLayout.astro";
import AboutPage from "@/components/AboutPage.tsx";

const lang = "yue";
---

<BaseLayout lang={lang} title="關於 - 粵拼 Jyutping">
  <div class="bg-[#1678d3] text-white py-16 mb-8">
    <h1
      class="my-16 font-semibold text-5xl md:text-6xl text-center container max-w-8xl mx-auto"
    >
      jyutping.org
    </h1>
  </div>

  <AboutPage locale={lang} client:load />
</BaseLayout>
