---
title: 粵語輸入法
linkTitle: 粵語輸入法
url: "/tw-nan-hant/keyboard"
menu:
  main:
    weight: 4
---


{{< blocks/cover title="粵語輸入法" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">搜狗輸入法粵拼鍵盤咧欲推出矣，敬請期待
</p>

{{< /blocks/cover >}}



{{< blocks/section >}}

{{% blocks/feature icon="fa" title="" %}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-light mr-3 mb-4"
		href="https://play.google.com/store/apps/details?id=com.google.android.inputmethod.latin&hl=en_US">
		<i class="fab fa-google-play ml-2"></i> 安裝 Gboard
	</a>
	<p>Gboard 粵拼干焦支援 Android 系統。</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="除了搜狗粵拼以外，歡迎使用 Gboard 粵拼抑是 Rime 粵拼" %}}
<div class="col-12">
	<h1 class="text-center"></h1>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-secondary mr-3 mb-4" href="https://rime.im/">
		<i class="fas fa-download ml-2"></i> 安裝 Rime
	</a>
	<p>Rime 粵拼支援全平臺（Windows, macOS, Linux, iOS, Android）。</p>
</div>
{{% /blocks/feature %}}

{{< /blocks/section >}}
