---
title: Bàn phím tiếng Quảng Đông
linkTitle: Bàn phím tiếng Quảng Đông
url: "/vi/keyboard"
menu:
  main:
    weight: 4
---


{{< blocks/cover title="Bàn phím tiếng Quảng Đông" image_anchor="bottom" height="min" >}}
<p class="lead mt-5">Vui lòng truy cập: <a href="https://jyutping.net/">jyutping.net</a></p>
{{< /blocks/cover >}}


{{< blocks/section color="orange" >}}
{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-dark mr-3 mb-4" href="https://apps.apple.com/cn/app/%E6%90%9C%E7%8B%97%E8%BE%93%E5%85%A5%E6%B3%95-%E8%AF%AD%E9%9F%B3%E5%8F%98%E5%A3%B0%E6%96%97%E5%9B%BE%E8%A1%A8%E6%83%85/id917670924">
		<i class="fab fa-app-store-ios ml-2"></i> Tải trên AppStore
	</a>
	<p>Các phiên bản trên v10.11 đều hỗ trợ Việt bính</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="Bàn phím Việt bính của Sogou Pinyin" %}}
<div class="col-12">
	<p class="text-center">Vào phần "Language Settings" trong cài đặt, chọn "Chinese-Cantonese" để gõ bằng Việt bính.</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa" title="" %}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-dark mr-3 mb-4"
		href="https://shouji.sogou.com/interface/multilingual.php?language=3">
		<i class="fab fa-android ml-2"></i> Tải APK trên web chính thức
	</a>
	<p>Các phiên bản trên v10.10 đều hỗ trợ Việt bính</p>
</div>
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="light">}}

{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-dark mr-3 mb-4" href="https://github.com/rime/rime-cantonese/releases">
		<i class="fas fa-download ml-2"></i> Cài đặt Việt bính Rime
	</a>
	<p>Việt bính Rime hỗ trợ cả các nền tảng (Windows, macOS, Linux, iOS, Android).</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="Ngoại trừ Việt bính Sogou, chào mừng bạn sử dụng Việt bính Gboard hoặc Việt bính Rime" %}}
<div class="col-12">
	<h1 class="text-center"></h1>
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa" title="" %}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-primary mr-3 mb-4"
		href="https://play.google.com/store/apps/details?id=com.google.android.inputmethod.latin&hl=en_US">
		<i class="fab fa-google-play ml-2"></i> Cài đặt Gboard
	</a>
	<p>Việt bính Gboard chỉ hỗ trợ hệ thống Android.</p>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}