---
// src/components/Chartaudio.astro
// This component now only renders a hidden container.
// The creation and management of <audio> elements will be handled
// dynamically by the Audio.tsx component.
---

{
  /*
  This container will hold dynamically created <audio> elements.
  It's hidden from users and assistive technologies.
*/
}
<div
  id="dynamic-audio-container"
  style="display: none;"
  aria-hidden="true"
  data-audio-base-path="/audio/"
>
  {/* Audio elements will be added here by Audio.tsx */}
</div>
