---
interface Props {
  href: string;
  className?: string;
  label?: string;
  newTab?: boolean;
  rel?: string;
}

const {
  href,
  className,
  label,
  newTab = /^https?:\/\//.test(Astro.props.href),
  rel: relOverride,
} = Astro.props;

const rel = newTab ? relOverride ?? "noopener noreferrer" : relOverride;
---

<a
  href={href}
  target={newTab ? "_blank" : undefined}
  rel={rel}
  class:list={["text-blue-600 hover:text-blue-800 underline", className]}
>{label ?? <slot />}</a>
