+++
title = "粤拼速成"
linkTitle = "粤拼速成"
+++

{{< blocks/cover title="粤拼速成" image_anchor="middle" height="full" color="orange" >}}
<div class="col">
	<p class="lead">默认你只会普通话拼音（《汉语拼音方案》）</p>
	<p class="lead">读完一文掌握粤拼</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-danger mr-3 mb-4" href="{{< relref "/docs/mandarin" >}}">
		我只会普通话 / 国语 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question-circle" title="你会讲粤语吗" %}}
<p>读完一文即可掌握粤拼</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab"%}}
<div class="mx-auto">
	<a class="btn btn-lg btn-outline-success mr-3 mb-4" href="{{< relref "/docs/cantonese" >}}">
		我识粤语 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}
