---
interface Props {
  aliases?: string[];
}

const { aliases = [] } = Astro.props;
---

{aliases.map((alias) => (
  <span id={alias} class="hidden" aria-hidden="true"></span>
))}

<div class="prose mb-8 max-w-none space-y-2 text-sm" lang="yue">
  <p>
    Bauer, Robert S., and Paul K. Benedict. 2011.
    <em>Modern cantonese phonology</em>. Vol. 102. Walter de Gruyter
  </p>
  <p>
    Mok, Peggy Pik-Ki, and Peggy, Wai-Yi Wong. 2010. Perception of the merging
    tones in Hong Kong Cantonese: preliminary data on monosyllables.
    <em>Speech Prosody 2010-Fifth International Conference</em>.
  </p>
  <p>
    Zee, Eric. 1991. Chinese (Hong Kong Cantonese).
    <em>Journal of the International Phonetic Association</em> 21.1: 46-48.
  </p>
  <p>
    Stephen, Matthews. 1992.
    <em>Jyutping 粵拼 - Cantonese Romanization Scheme</em>. The Linguistic
    Society of Hong Kong.
    <a
      href="https://lshk.org/jyutping-scheme/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline"
    >
      https://lshk.org/jyutping-scheme/
    </a>
  </p>
  <p>
    人文電算硏究中心 2003：“粵語審音配詞字庫”，關子尹主持，“兩文三語敎育網上支援計劃”之工作項目之一，二零零三年一月十二日推出，香港優質敎育基金，存取於二零零七年十一月二十日，
    <a
      href="http://humanum.arts.cuhk.edu.hk/Lexis/lexi-can/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline"
    >
      http://humanum.arts.cuhk.edu.hk/Lexis/lexi-can/
    </a>
    。
  </p>
</div>
