---
import Audio from "@/components/Audio.tsx";
import { tableClass, tableDataCellClass } from "@/components/jyutping/tableStyles";
---

<div class="overflow-x-auto">
  <table class={tableClass}>
    <tbody>
      <tr>
        <td class={tableDataCellClass} lang="yue">
          m [m̩] 唔 <Audio client:load id="m4" />
        </td>
        <td class={tableDataCellClass} lang="yue">
          ng [ŋ̩] 吳 <Audio client:load id="ng4" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
