+++
title = "Jyutping"
linkTitle = "Jyutping"
+++

{{< blocks/cover title="Jyutping" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">Jyutping is the de-facto standard<br />romanization scheme for Cantonese.</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-bullhorn" title="Jyutping helps you pronounce" %}}
<p>Jyutping can help you correct your Cantonese pronunciations and accents.</p>
<p>Jyutping to Cantonese is like Pinyin to Mandarin.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="Why should I learn Jyutping?" %}}
<p>Chinese characters are not phonographic, we need Jyutping to represent the sounds of Cantonese.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title="Jyutping helps you type" %}}
<p>Knowing Jyutping, you can type Cantonese smoothly with Jyutping keyboards, the most natural and easiest way to type Cantonese.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab" title="" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="I am a Cantonese learner and I speak English." %}}
<div class="mx-auto">
	<br />
	<a class="btn btn-lg btn-blue mr-3 mb-4" href="{{< relref "/docs/english" >}}">
		Start learning Jyutping <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-language" title="識粵語？"%}}
<div class="mx-auto">
	<a href="/">
		切換到本站粵語版 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}