+++
title = "Jyutping"
linkTitle = "Jyutping"
+++

{{< blocks/cover title="Jyutping" image_anchor="middle" height="full" color="orange" >}}
<div class="col">
	<p class="lead">Jyutping is the de-facto standard<br/>romanization scheme for Cantonese.</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab"%}}

{{% /blocks/feature %}}
{{% blocks/feature icon="fa-book" title="I am a Cantonese learner and I speak English." %}}
<div class="mx-auto">
	<br/>
	<a class="btn btn-lg btn-outline-success mr-3 mb-4" href="{{< relref "/docs/english" >}}">
		Start learning Jyutping <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab"%}}

{{% /blocks/feature %}}
{{< /blocks/section >}}
