+++
title = "粵拼"
linkTitle = "粵拼"
+++

{{< blocks/cover title="粵拼" image_anchor="middle" height="full" color="orange" >}}
<div class="col">
	<p class="lead">簡單合理 易學易用</p>
	<p class="lead">通行粵語拼音方案</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab"%}}

{{% /blocks/feature %}}
{{% blocks/feature icon="fa-book" title="我只會普通話/國語" %}}
<div class="mx-auto">
	<p>我會普通話拼音（《漢語拼音方案》）</p>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs/mandarin" >}}">
		一文掌握粵拼 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab" title="識粵語？"%}}
<div class="mx-auto">
	<a href="/">
		切換到本站粵語版 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br/>
	<a href="/en">
		English version <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}