+++
title = "粵拼"
linkTitle = "粵拼"
+++

{{< blocks/cover title="粵拼" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">
		<ruby>簡<rt>gaan2</rt></ruby>
		<ruby>單<rt>daan1</rt></ruby>
		<ruby>合<rt>hap6</rt></ruby>
		<ruby>理<rt>lei5</rt></ruby>
		&nbsp;&nbsp;
		<ruby>易<rt>ji6</rt></ruby>
		<ruby>學<rt>hok6</rt></ruby>
		<ruby>易<rt>ji6</rt></ruby>
		<ruby>用<rt>jung6</rt></ruby>
	</p>
	<p class="lead">		
		<ruby>通<rt>tung1</rt></ruby>
		<ruby>行<rt>hang4</rt></ruby>
		<ruby>粵<rt>jyut6</rt></ruby>
		<ruby>語<rt>jyu5</rt></ruby>
		<ruby>拼<rt>ping3</rt></ruby>
		<ruby>音<rt>jam1</rt></ruby>
		<ruby>方<rt>fong1</rt></ruby>
		<ruby>案<rt>on3</rt></ruby>
	</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="blue" >}}
{{% blocks/feature icon="fa-bullhorn" title="" %}}
<p>學普通話要學普通話拼音，學粵語就要學粵拼。</p>
<p>掌握粵拼可以幫助糾正懶音錯音，規範自己的粵語口音。</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="爲什麼要學粵拼？" %}}
漢字非拼音文字，需要一個拼音方案來準確表達粵語的發音。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title=" " %}}
<p>學會了粵拼，就能用粵拼輸入法來打粵語，作爲最自然簡單的打字方式。</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab"%}}

{{% /blocks/feature %}}
{{% blocks/feature icon="fa-book" title="我只會普通話/國語" %}}
<div class="mx-auto">
	<p>我會普通話拼音（《漢語拼音方案》）</p>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs/mandarin" >}}">
		一文掌握粵拼 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-language" title="識粵語？"%}}
<div class="mx-auto">
	<a href="/">
		切換到本站粵語版 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br/>
	<a href="/en">
		Switch to English <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}