+++
title = "粵拼"
linkTitle = "粵拼"
+++

{{< blocks/cover title="粵拼" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">
		<ruby>簡<rt>gaan2</rt></ruby>
		<ruby>單<rt>daan1</rt></ruby>
		<ruby>合<rt>hap6</rt></ruby>
		<ruby>理<rt>lei5</rt></ruby>
		&nbsp;&nbsp;
		<ruby>易<rt>ji6</rt></ruby>
		<ruby>學<rt>hok6</rt></ruby>
		<ruby>易<rt>ji6</rt></ruby>
		<ruby>用<rt>jung6</rt></ruby>
	</p>
	<p class="lead">		
		<ruby>通<rt>tung1</rt></ruby>
		<ruby>行<rt>hang4</rt></ruby>
		<ruby>粵<rt>jyut6</rt></ruby>
		<ruby>語<rt>jyu5</rt></ruby>
		<ruby>拼<rt>ping3</rt></ruby>
		<ruby>音<rt>jam1</rt></ruby>
		<ruby>方<rt>fong1</rt></ruby>
		<ruby>案<rt>on3</rt></ruby>
	</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-bullhorn" title="" %}}
<ruby>學<rt>hok6</rt></ruby> <ruby>識<rt>sik1</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>可<rt>ho2</rt></ruby> <ruby>以<rt>ji5</rt></ruby> <ruby>幫<rt>bong1</rt></ruby> <ruby>助<rt>zo6</rt></ruby> <ruby>糾<rt>dau2</rt></ruby> <ruby>正<rt>zing3</rt></ruby> <ruby>懶<rt>laan5</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>錯<rt>co3</rt></ruby> <ruby>音<rt>jam1</rt></ruby>，<ruby>規<rt>kwai1</rt></ruby> <ruby>範<rt>faan6</rt></ruby> <ruby>自<rt>zi6</rt></ruby> <ruby>己<rt>gei2</rt></ruby> <ruby>嘅<rt>ge3</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>口<rt>hau2</rt></ruby> <ruby>音<rt>jam1</rt></ruby>。
<p><ruby>學<rt>hok6</rt></ruby> <ruby>普<rt>pou2</rt></ruby> <ruby>通<rt>tung1</rt></ruby> <ruby>話<rt>waa2</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>學<rt>hok6</rt></ruby> <ruby>普<rt>pou2</rt></ruby> <ruby>通<rt>tung1</rt></ruby> <ruby>話<rt>waa2</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>音<rt>jam1</rt></ruby>，<ruby>學<rt>hok6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>就<rt>zau6</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>學<rt>hok6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby>。</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="<ruby>點<rt>dim2</rt></ruby> <ruby>解<rt>gaai2</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>學<rt>hok6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> ？" %}}
<ruby>漢<rt>hon3</rt></ruby> <ruby>字<rt>zi6</rt></ruby> <ruby>非<rt>fei1</rt></ruby> <ruby>拼<rt>ping6</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>文<rt>man4</rt></ruby> <ruby>字<rt>zi6</rt></ruby> ，<ruby>需<rt>seoi1</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>一<rt>jat1</rt></ruby> <ruby>個<rt>go3</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>方<rt>fong1</rt></ruby> <ruby>案<rt>on3</rt></ruby> <ruby>嚟<rt>lei4</rt></ruby> <ruby>準<rt>zeon2</rt></ruby> <ruby>確<rt>kok3</rt></ruby> <ruby>表<rt>biu2</rt></ruby> <ruby>示<rt>si6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>嘅<rt>ge3</rt></ruby> <ruby>發<rt>faat3</rt></ruby> <ruby>音<rt>jam1</rt></ruby>。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-keyboard" title=" " %}}
<p><ruby>學<rt>hok6</rt></ruby> <ruby>識<rt>sik1</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> ，<ruby>可<rt>ho2</rt></ruby> <ruby>以<rt>ji5</rt></ruby> <ruby>用<rt>jung6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>輸<rt>syu1</rt></ruby> <ruby>入<rt>jap6</rt></ruby> <ruby>法<rt>faat3</rt></ruby> <ruby>嚟<rt>lei6</rt></ruby> <ruby>打<rt>daa2</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> ，<ruby>作<rt>zok1</rt></ruby> <ruby>爲<rt>wai4</rt></ruby> <ruby>最<rt>zeoi3</rt></ruby> <ruby>自<rt>zi6</rt></ruby> <ruby>然<rt>jin4</rt></ruby> <ruby>簡<rt>gaan2</rt></ruby> <ruby>單<rt>daan1</rt></ruby> <ruby>嘅<rt>ge3</rt></ruby> <ruby>打<rt>daa2</rt></ruby> <ruby>字<rt>zi6</rt></ruby> <ruby>方<rt>fong1</rt></ruby> <ruby>式<rt>sik1</rt></ruby>。</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa" title="" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="<ruby>我<rt>ngo5</rt></ruby> <ruby>識<rt>sik1</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby>" %}}
<div class="mx-auto">
	<p><ruby>我<rt>ngo5</rt></ruby> <ruby>都<rt>dou1</rt></ruby> <ruby>識<rt>sik1</rt></ruby> <ruby>普<rt>pou5</rt></ruby> <ruby>通<rt>tung1</rt></ruby> <ruby>話<rt>waa2</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>音<rt>jam1</rt></ruby> （《<ruby>漢<rt>hon3</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>方<rt>fong1</rt></ruby> <ruby>案<rt>on3</rt></ruby> 》）</p>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs/cantonese" >}}">
		一文掌握粵拼 <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-language" title="不會粵語？"%}}
<div class="mx-auto">
	<a href="/zh-cmn-hant">
		切換到本站普通話/國語版 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br />
	<a href="/en">
		Switch to English <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}